<%= form_for(@team, role: 'form') do |f| %>
  <%= f.error_messages %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, class: 'form-control' %>
  </div>

  <div class="checkbox">
    <%= f.label :private do %>
      <%= f.check_box :private %>
      <%= t('.private') %>
    <% end %>
  </div>

  <div class="checkbox">
    <%= f.label :noroot do %>
      <%= f.check_box :noroot %>
      <%= t('.noroot') %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <%= f.submit @submit_button_text, class: 'btn btn-primary' %>
<% end %>
