<%= form_for(@team, role: 'form') do |f| %>
  <%= f.error_messages %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, class: 'form-control' %>
  </div>

  <div class="checkbox">
    <%= f.label :private do %>
      <%= f.check_box :private %>
      <%= t('.private') %>
    <% end %>
    <%= image_tag('info.png', class: 'info_icon private_info') %>

    <p class="description private">
      <%= t('teams.description.private') %>
    </p>
  </div>

  <% unless current_user.root? %>
    <div class="checkbox">
      <%= f.label :noroot do %>
        <%= f.check_box :noroot %>
        <%= t('.noroot') %>
      <% end %>
      <%= image_tag('info.png', class: 'info_icon no_root_info') %>

      <p class="description no_root">
        <%= t('teams.description.no_root') %>
      </p>
    </div>

  <% end %>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <%= f.submit @submit_button_text, class: 'btn btn-primary' %>
<% end %>

<%= javascript_include_tag :info_button %>
