-#  Copyright (c) 2008-2016, Puzzle ITC GmbH. This file is part of
-#  Cryptopus and licensed under the Affero General Public License version 3 or later.
-#  See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/cryptopus.

= form_for(@team, role: 'form') do |f|
  = f.error_messages
  .form-group
    = f.label :name
    = f.text_field :name, autofocus: true, class: 'form-control'
  .checkbox
    = labeled_check_box(f, :private, @team.new_record?)
    = image_tag('info.svg', class: 'info_icon private_info')
    %p.description.private
      = t('teams.description.private')
  - unless current_user.root?
    .checkbox
      = labeled_check_box(f, :noroot, @team.new_record?)
      = image_tag('info.svg', class: 'info_icon no_root_info')
      %p.description.no_root
        = t('teams.description.no_root')
  .form-group
    = f.label :description
    = f.text_area :description, class: 'form-control'
  = f.submit @submit_button_text, class: 'btn btn-primary'
= javascript_include_tag :info_button
