<h1><%=t '.title' %></h1>

<%= link_to 'New', new_team_path, class: 'btn btn-primary pull-right' %>

<table class='table table-striped'>
  <tr>
    <th style='width: 150px;'><%=t '.team' %></th>
    <th><%=t :description %></th>
    <th colspan="3"><%=t :actions %></th>
  </tr>

  <% @teams.each do |team| %>
    <tr class="<%= cycle( 'odd', 'even' ) %>">
    <td><%= link_to image_tag( "kontact_contacts.png" ) + " #{team.name}", team_groups_path( team ) %></td>
    <td><%= team.description %></td>
    <td><%= link_to image_tag( "edit.png" ), edit_team_path( team ) %></td>
    <td>
      <% if can_delete_team?(team) %>
        <%= link_to image_tag( "remove.png" ), team, data: {confirm: :confirmation}, :method => :delete %>
      <% end %>
    </td>
    </tr>
  <% end %>
</table>
