-#  Copyright (c) 2008-2017, Puzzle ITC GmbH. This file is part of
-#  Cryptopus and licensed under the Affero General Public License version 3 or later.
-#  See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/cryptopus.

%h1= t '.title'
= link_to t('teams.new.title'), new_team_path, class: 'btn btn-primary pull-right'
%table.table.table-striped
  %tr
    %th{style: "width: 150px;"}= t '.team'
    %th= t :description
    %th{colspan: "3"}= t :actions
  - @teams.each do |team|
    %tr{class: "#{cycle( 'odd', 'even' )}"}
      - if team.private?
        %td= link_to image_tag( "encrypted_small.svg" ) + " #{team.name}", team_groups_path( team )
      - else
        %td= link_to image_tag( "members.svg" ) + " #{team.name}", team_groups_path( team )
      %td= simple_format team.description
      %td.action_icon= link_to image_tag( "edit.svg" ), edit_team_path( team )
      - if policy(team).destroy?
        %td.action_icon= link_to_destroy [team], team
      - else
        %td
