{{#if this.isTeamEditing}}
  <Team::Form @team={{@team}} @onAbort={{this.toggleTeamEdit}} @title={{t "teams.edit.title"}}/>
{{/if}}
{{#if this.isTeamConfiguring}}
  <TeamMemberConfigure @teamId={{@team.id}} @onAbort={{this.toggleTeamConfigure}}/>
{{/if}}
{{#if this.isNewFolder}}
  <Folder::Form @onAbort={{this.toggleFolderCreating}} @title={{t "folders.new.title"}}/>
{{/if}}
<div class="mt-4 mb-4 border-radius-4">
  <div>
    <div class="row py-2 d-flex team-card-header {{if this.collapsed "rounded" "rounded-top"}}">
      <div class="col-auto pr-0 my-auto" role="button" {{on "click" this.collapse}}>
        {{#if @team.isPersonalTeam}}
          <img class="icon icon-big-button py-auto" src="/assets/images/member-white.svg" alt="">
        {{else}}
          {{#if this.args.team.private}}
            <img class="icon icon-big-button py-auto" src="/assets/images/encrypted_small-white.svg" alt="">
          {{else}}
            <img class="icon icon-big-button py-auto" src="/assets/images/members-white.svg" alt="">
          {{/if}}
        {{/if}}
      </div>
      <div class="col overflow-hidden" role="button" {{on "click" this.collapse}}>
        <h5 class="d-inline">{{@team.name}}</h5>
      </div>


      <div class="col-auto pr-0 justify-content-between d-none d-sm-flex align-items-center ">
        <span class="mx-1" role="button" {{on "click" this.toggleFolderCreating}}>
          <img class="icon-big-button" src="/assets/images/plus-white.svg" alt="new">
          <BsTooltip @title={{t "tooltips.add_folder"}} @delayShow="1000" />
        </span>
        {{#unless @team.isPersonalTeam}}
          <span class="mx-1" role="button" {{on "click" this.toggleTeamEdit}}>
            <img class="icon-big-button" src="/assets/images/edit-white.svg" alt="edit">
            <BsTooltip @title={{t "teams.edit.title"}} @delayShow="1000" />
          </span>
          <span class="mx-1" id="config_team_button" role="button" {{on "click" this.toggleTeamConfigure}}>
            <img class="icon-big-button" src="/assets/images/team-configure-white.svg" alt="configure">
            <BsTooltip @title={{t "teams.configure.title"}} @delayShow="1000" />
          </span>
          {{#if @team.deletable }}
            <DeleteWithConfirmation @class="mx-1" @record={{@team}} @didDelete={{this.transitionToIndex}}>
              <img class="icon-big-button" src="/assets/images/delete-white.svg" alt="delete">
              <BsTooltip @title={{t "teams.delete"}} @delayShow="1000"/>
            </DeleteWithConfirmation>
          {{/if}}
          <span class="mx-3" role="button" {{on "click" this.toggleFavourised}}>
            <img class="icon-big-button" src="/assets/images/star-white{{if @team.favourised "-filled"}}.svg" alt="star">
            <BsTooltip @title={{if @team.favourised (t "teams.defavorise") (t "teams.favorise")}} @delayShow="1000" />
          </span>
        {{/unless}}
      </div>

      <BsDropdown @class="d-sm-none mb-0 col-auto mobile-team-menu" as |dd|>
        <dd.toggle>
          <img class="icon-big-button" src="/assets/images/bars-white.svg" alt="v">
        </dd.toggle>
        <dd.menu as |ddm|>
          <ddm.item>
            <a role="button" class="dropdown-item d-flex align-items-center" {{on "click" this.toggleFolderCreating}}>
              {{t "teams.new.title"}}
            </a>
          </ddm.item>
          <ddm.item>
            <a role="button" class="dropdown-item d-flex align-items-center" {{on "click" this.toggleTeamEdit}}>
              {{t "teams.edit.title"}}
            </a>
          </ddm.item>
          <ddm.item>
            <a id="config_team_button" role="button" class="dropdown-item d-flex align-items-center" {{on "click" this.toggleTeamConfigure}}>
              {{t "tooltips.configure"}}
            </a>
          </ddm.item>
          <ddm.item>
            <a role="button" class="dropdown-item d-flex align-items-center" {{on "click" this.toggleFavourised}}>
              {{if @team.favourised (t "teams.defavorise") (t "teams.favorise")}}
            </a>
          </ddm.item>

        </dd.menu>
      </BsDropdown>

      <div class="col-auto pl-0 d-flex justify-content-between align-items-center align-right-on-smartphone">
        <span role="button" name="team-collapse" {{on "click" this.collapse}}>
          {{#if this.collapsed}}
            <img class="icon-big-button float-right" src="/assets/images/angle-left-white.svg" alt="<">
          {{else}}
            <img class="icon-big-button float-right" src="/assets/images/angle-down-white.svg" alt="v">
          {{/if}}
        </span>
      </div>


    </div>
    <BsCollapse class="row team-border border-top-0 rounded-bottom" @collapsed={{this.collapsed}}>
      <div class="col px-4 list-folder-header">
        {{#if @team.description}}
          <div class="row">
            <div class="col">
              <p class="text-muted description mb-0">{{@team.description}}</p>
            </div>
          </div>
        {{/if}}
        {{#if @team.folders}}
          <div class="pt-2">
            {{#each @team.folders as |folder|}}
              <div class="row bg-white border-radius-4 mb-5-folder">
                <div class="col folder-no-p">
                  <Folder::Show @folder={{folder}}/>
                </div>
              </div>
            {{/each}}
          </div>
        {{else}}
          <div class={{if @team.description "pt-2"}}>
            <em>{{t "teams.no_folders"}}</em>
          </div>
        {{/if}}
      </div>
    </BsCollapse>
  </div>
</div>
