-#  Copyright (c) 2008-2017, Puzzle ITC GmbH. This file is part of
-#  Cryptopus and licensed under the Affero General Public License version 3 or later.
-#  See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/cryptopus.

%h1= t '.title'

%table.table.table-striped
  %tr
    %th{style: "width: 150px;"}= t '.maintenance_task'
    %th= t :description
    %th{colspan: "3"}= t :actions
  - @maintenance_tasks.each do |task|
    %tr{class: "#{cycle('odd', 'even')}"}
      %td= task.label
      %td= task.description
      - if task.prepare?
        %td= link_to t('admin.maintenance_tasks.index.prepare'), admin_maintenance_tasks_prepare_path(task.id)
      - else
        %td= link_to t('admin.maintenance_tasks.index.execute'), admin_maintenance_tasks_execute_path(task.id), method: :post

%br

%h1= 'Logs'
%table.table.table-striped
  %tr
    %th= t :executed_at
    %th= t :status
    %th= t :output
    %th= t :executer
  - @maintenance_logs.each do |ml|
    %tr{class: "#{cycle('odd', 'even')}"}
      %td= ml.created_at.to_time
      %td= ml.status
      %td= ml.output
      %td= User.find_by(id: ml.executer_id).label
