-#  Copyright (c) 2008-2017, Puzzle ITC GmbH. This file is part of
-#  Cryptopus and licensed under the Affero General Public License version 3 or later.
-#  See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/cryptopus.

%h1= @maintenance_task.label

= form_tag :admin_maintenance_tasks_execute do

  - @maintenance_task.task_params.each do |p|
    = create_maintenance_task_field(p)

  = submit_tag 'Execute', class: 'btn btn-primary'
  = link_to 'Cancel', admin_maintenance_tasks_path, {class: 'btn btn-primary'}
