<%
# $Id$

# Copyright (c) 2007 Puzzle ITC GmbH. All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation; either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
# -%>

<h1>Search results </h1>

<table>

  <% for team in @teams %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td><%= link_to image_tag( "members.svg" ) + " " + team.name, [team, :groups] %></td>
      <td><%= team.description %></td>
    </tr>
  <% end %>

  <% for group in @groups %>
    <% team = group.team %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td><%= link_to image_tag( "folder_open.svg" ) + " " + group.name, [team, group, :accounts] %></td>
      <td><%= group.description %></td>
    </tr>
  <% end %>

  <% for account in @accounts %>
    <% group = account.group %>
    <% team = group.team %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td><%= link_to image_tag( "encrypted_small.svg" ) + " " + account.accountname, [team, group, account] %></td>
      <td><%= account.description %></td>
    </tr>
  <% end %>

  <% for item in @items %>
    <% account = item.account %>
    <% group = account.group %>
    <% team = group.team %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td><%= link_to image_tag( "encrypted_small.svg" ) + " " + item.filename, [team, group, account] %></td>
      <td><%= item.description %></td>
    </tr>
  <% end %>

</table>
