-#  Copyright (c) 2008-2017, Puzzle ITC GmbH. This file is part of
-#  Cryptopus and licensed under the Affero General Public License version 3 or later.
-#  See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/cryptopus.

.form-group.search
  %h1= t('.hi_user', username: username)
  = text_field_tag :search_string,  params[:search_string], placeholder: t('.type_to_search'), autocomplete: 'off', autofocus: true, class: 'form-control search-input'
 
.container
  %ul.nav.nav-tabs
    %li#accounts.tab.active
      %a{"data-toggle" => "tab", href: "#accounts-result"}
        = t('accounts.title')
    %li#groups.tab
      %a{"data-toggle" => "tab", href: "#groups-result"}
        = t('groups.title')
    %li#teams.tab
      %a{"data-toggle" => "tab", href: "#teams-result"}
        = t('teams.title')
  .tab-content
    #accounts-result.tab-pane.fade.in.active
      %ul.search-result.result-list.accounts
    #groups-result.tab-pane.fade
      %ul.search-result.result-list.groups
    #teams-result.tab-pane.fade
      %ul.search-result.result-list.teams
%br
.result-info{style: "display: none;"}= t('.no_results_found')
