-#  Copyright (c) 2008-2017, Puzzle ITC GmbH. This file is part of
-#  Cryptopus and licensed under the Affero General Public License version 3 or later.
-#  See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/cryptopus.

%h1= t '.title', folder_name: @folder.name, team_name: team.name

= link_to t('accounts.index_menu.create'), "#/accounts/new/?team_id=#{@folder.team.id}&folder_id=#{@folder.id}", class: 'btn btn-primary pull-right', 'data-turbolinks': 'false'


%table.table.table-striped
  %tr
    %th{style: "width: 150px;"}= t '.account'
    %th= t :description
    %th{colspan: "3"}= t :actions
  - @accounts.each do |account|
    %tr{class: "#{cycle('odd', 'even')}"}
      %td= link_to image_pack_tag( "key.svg" ) + " " + account.accountname, account_path(account)
      %td= h account.description
      %td.action_icon= link_to image_pack_tag("edit.svg"), "#/accounts/edit/#{account.id}",'data-turbolinks': 'false'
      %td.action_icon= link_to_destroy account_path(account), account
