<%
# $Id$

# Copyright (c) 2007 Puzzle ITC GmbH. All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation; either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
-%>
<%= javascript_include_tag 'http://code.jquery.com/jquery-1.11.1.min.js'%>
<%= form_tag({:action => 'authenticate'}, :id => 'loginform') do %>
  <fieldset>
    <legend><%=t '.title' %></legend>
    <p><%=t '.description' %></p>

    <label for="username"><%=t :username %>:</label>
    <%= text_field_tag :username, params[:username], :id => 'username' %>

    <label for="password"><%=t :password %>:</label>
    <%= password_field_tag :password, params[:password], :id => 'password' %>

    <label for="submit" />
    <%= submit_tag t('.submit') %>
  </fieldset>
<% end %>
<%= javascript_include_tag 'login'%>


