<div class="login-form">
  <%= form_tag(action: 'authenticate') do %>
    <fieldset>
      <%= image_tag("logo_cryptopus.svg", class: 'logo') %>

      <div class="form-group">
        <%= text_field_tag :username, params[:username], id: 'username', placeholder: t(:username), class: 'form-control' %>

        <%= password_field_tag :password, nil, id: 'password', placeholder: t(:password), class: 'form-control' %>
      </div>

      <%= submit_tag t('.submit'), class: 'btn btn-primary' %>
    </fieldset>
  <% end %>
</div>

<%= javascript_include_tag :login %>
