-#  Copyright (c) 2008-2017, Puzzle ITC GmbH. This file is part of
-#  Cryptopus and licensed under the Affero General Public License version 3 or later.
-#  See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/cryptopus.

%h1 Change password
= form_tag action: 'update_password', role: 'form' do
  .form-group
    %label{for: "old_password"}
      = t '.old'
    = password_field_tag :old_password, '',autofocus: true, class: 'form-control'
  .form-group
    %label{for: "new_password1"}
      = t '.new'
    = password_field_tag :new_password1, nil, class: 'form-control'
    %div#strength
  .form-group
    %label{for: "new_password2"}
      = t '.new_retype'
    = password_field_tag :new_password2, nil, class: 'form-control'
  = submit_tag I18n.t('logins.show_update_password.submit'), class: 'btn btn-primary'
  #hidden_username{style: "display:none"}
    = current_user.username
