<BsModal class="modal_folder" @onHide={{action this.abort}} @renderInPlace="true" @size="lg" as |Modal|>
  <Modal.header>
    <h3 class="modal-title align-middle" id="folderFormModalLabel">{{@title}}</h3>
  </Modal.header>
  <Modal.body>
    <div class="container-fluid">
      <BsForm @model={{this.changeset}} as |form|>
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <form.group class="col-md-12">
                <form.element @property="name" @label={{t "folders.name"}}
                              @name="foldername" class={{if this.changeset.error.name.validation
                                                             "invalid-input-name"}}
                              id="foldername" @tabindex="1"
                              @customError={{t (validation-error-key this.changeset.error.name.validation)}} />
              </form.group>
            </div>
          </div>
          <div class="col-md-1">
          </div>
          <div class="col-md-5">
            <div class="row">
              <div class="form-group col-md-12" id="team-power-select">
                <form.element @label={{t "team"}} @controlType="power-select"
                              @placeholder={{t "encryptables.edit.team_placeholder"}} @disabled={{not this.isNewRecord}}
                              @options={{this.assignableTeams}} @value={{this.changeset.team}}
                              @tabindex="2"
                              @customError={{t (validation-error-key this.changeset.error.team.validation)}} as |el|>
                  <el.control class={{if this.changeset.error.team.validation "invalid-input-ps"}} @renderInPlace={{true}} @onChange={{this.setSelectedTeam}} as |team|>
                    {{team.name}}
                  </el.control>
                </form.element>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <form.group class="col-md-12">
            <form.element @label={{t "description"}} @property="description" @controlType="textarea"
                            id="description" class="{{if
                      this.changeset.error.description.validation "invalid-input"}} vertical-resize"
                            @tabindex="3" @customError={{t (validation-error-key this.changeset.error.description.validation)}}/>
          </form.group>
        </div>
      </BsForm>
    </div>
  </Modal.body>
  <Modal.footer>
    <BsButton @onClick={{action this.submit this.changeset}} @type="primary" @tabindex="4">{{t "save"}}</BsButton>
    <BsButton @onClick={{action this.abort}} @type="secondary" @tabindex="5">{{t "close"}}</BsButton>
  </Modal.footer>
</BsModal>
