{{#if this.isFolderEditing}}
  <Folder::Form @folder={{@folder}} @onAbort={{this.toggleFolderEdit}} @title={{t "folders.edit.title"}}/>
{{/if}}
{{#if this.isNewEncryptable}}
  <Encryptable::Form @onAbort={{this.toggleEncryptableCreating}} @title={{t "encryptables.new.title"}}/>
{{/if}}
<div class="pl-2 pr-2 folder-card-header {{if this.isExpanded "br-4"}}">
  <div class="d-flex row justify-content-between folder-show-header">
    <div class="col-auto pr-0 my-auto" role="button" {{on "click" this.toggleExpanded }}>
      <img class="icon icon-folder py-auto" src="/assets/images/folder.svg" alt="">
    </div>
    <div class="col overflow-hidden my-auto break-on-smartphone" role="button" {{on "click" this.toggleExpanded }}>
      <h6 class="d-inline">{{@folder.name}}</h6>
    </div>
    <div class="col-auto justify-content-between d-flex align-items-center align-right-on-smartphone">
      <a class="margin-for-buttons mx-1" role="button" {{on "click" this.toggleEncryptableCreating}}>
        <img class="icon-big-button " src="/assets/images/plus-blue.svg" alt="new">
        <BsTooltip @title={{t "tooltips.add_account"}} @delayShow="1000" />
      </a>
      <a class="margin-for-buttons mx-1" role="button" {{on "click" this.toggleFolderEdit}}>
        <img class="icon-big-button " src="/assets/images/edit-blue.svg" alt="edit folder">
        <BsTooltip @title={{t "folders.tooltips.edit"}} @delayShow="1000" />
      </a>
      <DeleteWithConfirmation @class="mx-1" @record={{@folder}} @didDelete={{this.refreshRoute}}>
        <img class="icon-big-button d-inline my-auto" src="/assets/images/delete-blue.svg" alt="delete folder">
        <BsTooltip @title={{t "tooltips.delete_folder"}} @delayShow="1000" />
      </DeleteWithConfirmation>
    </div>
    <div class="col-auto pl-0 justify-content-between d-flex align-items-center">
      <span role="button" name="folder-collapse" {{on "click" this.toggleExpanded }}>
        {{#if this.isExpanded}}
          <img class="icon-big-button float-right" src="/assets/images/angle-left.svg" alt="<">
        {{else}}
          <img class="icon-big-button float-right" src="/assets/images/angle-down.svg" alt="v">
        {{/if}}
      </span>
    </div>
  </div>
</div>
<BsCollapse  @collapsed={{not this.isExpanded}}>
  <div class="folder-collapse-box">
    {{#if @folder.description}}
      <div class="row pt-3">
        <div class="col">
          <p class="text-muted description mb-0">{{@folder.description}}</p>
        </div>
      </div>
    {{/if}}

    <div class="row">
      <div class="col">
        {{#if this.shouldRenderEncryptables}}
          {{#each @folder.encryptables as |encryptable|}}
            <div class="encryptable-row px-3 py-1">
              <Encryptable::Row @encryptable={{encryptable}}/>
            </div>
          {{/each}}
        {{else}}
          <div class="col no-acc">
            <em>{{t "folders.no_encryptables"}}</em>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</BsCollapse>
