-#  Copyright (c) 2008-2017, Puzzle ITC GmbH. This file is part of
-#  Cryptopus and licensed under the Affero General Public License version 3 or later.
-#  See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/cryptopus.


!!!
.login-form
  = form_tag(Rails.application.routes.url_helpers.session_local_path, class: 'login') do
    %fieldset.bd-example
      = image_tag "/assets/images/cryptopussy.svg", class: 'logo'
      .form-group
        %br/
        = text_field_tag :username, params[:username], id: 'username', value: 'root', class: 'form-control', readonly: true
        = password_field_tag :password, nil, id: 'password', placeholder: t(:password), class: 'form-control', autofocus: true
      = submit_tag t('.submit'), class: 'btn btn-primary'
