.login-form
  = form_tag(Rails.application.routes.url_helpers.session_path, class: 'login') do
    %fieldset.bd-example
      = image_tag "/assets/images/cryptopussy.svg", class: 'logo'
      .form-group
        = text_field_tag :username, params[:username], id: 'username', placeholder: t(:username), class: 'form-control'
        = password_field_tag :password, nil, id: 'password', placeholder: t(:password), class: 'form-control'
      = submit_tag t('.submit'), class: 'btn btn-primary'
