<%
# $Id$

# Copyright (c) 2007 Puzzle ITC GmbH. All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation; either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
-%>

<% form_tag :action => 'create' do %>

  <p>
    Your LDAP Password has changed until you last logged in.<br/>
    Please enter your old LDAP Passwort to decrypt your Private_key.
  </p><br/>


  <% if @user.last_login_at %>
    <p>
      Your last login was <%= time_ago_in_words @user.last_login_at %> ago.
    </p><br/>
  <% end %>
  
  <p>
    <label for="new_password">
      Your <strong>new</strong> LDAP Password
      <%= password_field_tag :new_password, params[:new_password] %>
    </label>
    <br/>
    <label for="old_password">
      Your <strong>old</strong> LDAP Password:
      <%= password_field_tag :old_password, params[:old_password] %>
    </label>
  </p><br/>

  <p>
    If you forgot your old password, you can send a recrypt request to the root and/or admins.
    After that you have to wait until they have recrypted your passwords.
  </p><br/>

  <p>
    <label for="recrypt_request">
      Forgot your old password?
      <%= check_box_tag :recrypt_request %> 
    </label>
  </p><br/>

  <label for="send">
    <%= submit_tag "Send" %>
  </label>

<% end %>

