-#  Copyright (c) 2008-2016, Puzzle ITC GmbH. This file is part of
-#  Cryptopus and licensed under the Affero General Public License version 3 or later.
-#  See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/cryptopus.

= form_tag action: 'create' do
  %p
    = t 'admin.recryptrequests.uncrypterror.ldap_password_changed'
    %br/
    = t 'admin.recryptrequests.uncrypterror.ldap_enter_old_password'
  %br/
  - if @user.last_login_at
    %p
      = t :last_login, time_ago: (time_ago_in_words @user.last_login_at)
    %br/
  %p
    %label{for: "new_password"}
      = t 'admin.recryptrequests.uncrypterror.ldap_new_password'
      = password_field_tag :new_password, params[:new_password], autofocus: true
    %br/
    %label{for: "old_password"}
      = t 'admin.recryptrequests.uncrypterror.ldap_old_password'
      = password_field_tag :old_password, params[:old_password]
  %br/
  %p
    = t 'admin.recryptrequests.uncrypterror.forgot_password_recrypt'
  %br/
  %p
    %label{for: "recrypt_request"}
      = t :forgot_password
      = check_box_tag :recrypt_request
  %br/
  %label{for: "send"}
    = submit_tag t('admin.recryptrequests.uncrypterror.send')
