<%
# $Id$

# Copyright (c) 2007 Puzzle ITC GmbH. All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation; either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
-%>

<%= form_tag :action => 'create' do %>

  <p>
    <%=t 'admin.recryptrequests.uncrypterror.ldap_password_changed'%><br/>
    <%=t 'admin.recryptrequests.uncrypterror.ldap_enter_old_password'%>
  </p><br/>


  <% if @user.last_login_at %>
    <p>
      <%=t :last_login, :time_ago => (time_ago_in_words @user.last_login_at)%>
    </p><br/>
  <% end %>
  
  <p>
    <label for="new_password">
      <%=t 'admin.recryptrequests.uncrypterror.ldap_new_password'%>
      <%= password_field_tag :new_password, params[:new_password], :autofocus => true %>
    </label>
    <br/>
    <label for="old_password">
      <%=t 'admin.recryptrequests.uncrypterror.ldap_old_password'%>
      <%= password_field_tag :old_password, params[:old_password] %>
    </label>
  </p><br/>

  <p>
  	<%=t 'admin.recryptrequests.uncrypterror.forgot_password_recrypt'%>
  </p><br/>

  <p>
    <label for="recrypt_request">
      <%=t :forgot_password %>
      <%= check_box_tag :recrypt_request %> 
    </label>
  </p><br/>

  <label for="send">
    <%= submit_tag t('admin.recryptrequests.uncrypterror.send') %>
  </label>

<% end %>

