<h1><%=t '.title', :team_name => @team.name %></h1>

<%= link_to 'New', new_team_group_path, class: 'btn btn-primary pull-right' %>

<table class='table table-striped'>

  <tr>
    <th><%=t '.group' %></th>
    <th><%=t :description %></th>
    <th colspan="3"><%=t :actions %></th>
  </tr>

  <% for group in @groups %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td><%= link_to image_tag( "folder_open.png" ) + " " + %Q{#{group.name}}, team_group_accounts_path(@team, group) %></td>
      <td><%= group.description %></td>
      <td><%= link_to image_tag("edit.png"), [:edit, @team, group] %></td>
      <td><%= link_to_destroy [@team, group], group %></td>
    </tr>
  <% end %>

</table>

<h2><%=t '.members' %></h2>

<table>

  <% @teammembers.each do |teammember| %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td><%= teammember.user.label %></td>
      <td><%= link_to_destroy [@team, teammember], teammember %></td>
    </tr>
  <% end %>
</table>

<ul>
	<li><%= link_to image_tag("add_user.png") + " " + t('.add_member'), new_team_teammember_path(@team) %></li>
</ul>

<h2><%=t '.admins' %></h2>

<table>
  <% @admins.each do |admin| %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td><i><%= admin.user.label %></i></td>
      <td><%= image_tag("penguin.png") %></td>
    </tr>
  <% end %>

</table>

