<% 
# $Id$

# Copyright (c) 2007 Puzzle ITC GmbH. All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation; either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
-%>

<h1>Groups for team <%= @team_name %></h1>
<table>
    <tr>
      <th>Group</th>
      <th>Description</th>
      <th colspan="3">Actions</th>
    </tr>
  <% for group in @groups %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td><%= link_to image_tag( "folder_open.png" ) + " " + %Q{#{group.name}}, :controller => "accounts", :action => 'list', :group_id => group.id %></td>
      <td><%= group.description %></td>
      <td><%= link_to image_tag("edit.png"), :action => 'edit', :id => group %></td>
      <td><%= link_to image_tag("remove.png"), { :action => 'destroy', :id => group }, :confirm => 'Are you sure?', :method => :post %></td>
    </tr>
  <% end %>
  </table>
  <h2>Members</h2>
<table>
    <% for team_member in @team_members %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td><%= get_member_cn(team_member) %></td>
          <% if team_member.team_admin %>    
            <td><%= image_tag("folder_home.png") %></td>
          <% else %>
            <td><%= link_to image_tag("delete_user.png"), { :action => 'del_user', :user_id => team_member.user_id }, :confirm => 'Are you sure?', :method => :post %></td>
          <% end %>
      </tr>
    <% end %>
</table>
<ul>
	<li><%= link_to image_tag("add_user.png") + " Add user", :action => "add_user" %></li>
</ul>