{{#if this.isEditing}}
  <Admin::User::Form @user={{@user}} @onAbort={{this.toggleEditing}} @title={{t "admin.users.edit.title"}}/>
{{/if}}
<tr>
  <td>{{@user.username}}</td>
  <td>{{@user.label}}</td>
  <td>{{if @user.lastLoginAt (moment-format @user.lastLoginAt "DD.MM.YYYY hh:mm") ""}}</td>
  <td>{{@user.lastLoginFrom}}</td>
  <td>
    {{@user.auth}}
    {{#if @user.providerUid}}
      :
    {{/if}}
    {{@user.providerUid}}
  </td>
  <td>
    <div>
      <PowerSelect @options={{this.availableRoles}} @onChange={{fn this.updateRole @user}} @selected={{this.selectedRole}}
                   @disabled={{this.isRoleEditingDisabled}} @animationEnabled={{false}} @renderInPlace={{true}} as |role|>
        {{role.name}}
      </PowerSelect>
    </div>
  </td>
  <td>
    {{#if @user.editable}}
      <span role="button" {{on "click" this.toggleEditing}}>
        <img class="icon-medium-button d-inline" src="/assets/images/edit.svg" alt="edit">
        <BsTooltip @title={{t "encryptables.edit.title"}} @delayShow="1000"/>
      </span>
    {{/if}}
    {{#if @user.deletable}}
      <Admin::User::DeletionForm @user={{@user}}>
        <img src="/assets/images/delete.svg" alt="delete" class="icon-button">
      </Admin::User::DeletionForm>
    {{/if}}
    {{#if @user.locked}}
      <span role="button" {{on "click" (fn this.unlockUser @user)}}>
        <img class="icon-medium-button d-inline" src="/assets/images/encrypted_small.svg" alt="locked">
      </span>
    {{/if}}
  </td>
</tr>
