/ [form:username]
= form_tag :action => 'create' do
  = error_messages_for 'teammembers'
  = label_tag t(:username)
  = select_tag :username , options_for_select(teammember_candidates)
  = submit_tag @submit_button_text
/ [eoform:username]
