<script type="text/javascript">
  window.I18n = <%= current_translations.to_json.html_safe %>
</script>

<div class="add_member">
  <input id="search_member" placeholder="add member" type="text">
  <a href="#"><%= image_tag("add.svg"); %></a>
</div>

<h1 class="members"><%=t '.members' %></h1>
<div class="columns">
  <ol>
    <% @teammembers.each do |teammember| %>
      <%= teammember_entry(teammember) %>
    <% end %>
    <%= teammember_root_entry %>
  </ol>
</div>

<a href="#" class="show_members"><%= t('teammembers.show') %></a>
