<EmberNotify @messageStyle="bootstrap" @closeAfter={{4000}}/>
<NavBar/>

{{#if this.navService.isOnDashboardRoute}}
  <pzsh-hero>
    <h1 slot="title">Puzzle Cryptopus</h1>
    <h2 slot="slogan">{{t "slogan"}}</h2>
    <img src="/assets/images/cryptopussy.svg" alt="Cryptopus logo" slot="logo" width="99" height="126">
  </pzsh-hero>
  {{outlet}}
{{else}}
  <div class="content">
    {{#if this.navService.showSideNavBar}}
      {{#unless this.screenWidthService.isShownOnHamburgermenu}}
        <div class="sidebar-wrapper">
          <SideNavBar/>
        </div>
      {{/unless}}
    {{/if}}

    {{#if this.navService.showSideNavBar}}
      <div class="mb-5 pl-3 pt-3 d-flex flex-column flex-1" role="main">
        {{outlet}}
      </div>
    {{else}}
      <div role="main">
        {{outlet}}
      </div>
    {{/if}}
  </div>
{{/if}}
<LastLogin/>

<Footer/>
