<EmberNotify @messageStyle="bootstrap" @closeAfter={{4000}}/>
<NavBar/>

{{#if this.navService.isOnDashboardRoute}}
  <pzsh-hero>
    <h1 slot="title">Puzzle Cryptopus</h1>
    <h2 slot="slogan">{{t "slogan"}}</h2>
    <img src="/assets/images/cryptopussy.svg" alt="Cryptopus logo" slot="logo" width="99" height="126">
  </pzsh-hero>
  {{outlet}}
{{else}}
  <div class="content pt-lg-4 pb-sm-4">
    {{#if this.navService.showSideNavBar}}
      {{#unless this.screenWidthService.isShownOnHamburgermenu}}
        <SideNavBar/>
      {{/unless}}
    {{/if}}

    {{#if this.navService.showSideNavBar}}
      <div class="pl-lg-5 d-flex flex-column flex-1" role="main">
        {{outlet}}
      </div>
    {{else}}
      <div role="main">
        {{outlet}}
      </div>
    {{/if}}
  </div>
{{/if}}
<LastLogin/>

<Footer/>
