<div class="dashboard-grid-container">
  {{#if @model.recentCredentials}}  
    <h3 class="primary-header">Recent Credentials</h3>
    <div class="primary-content">
      {{#each this.model.recentCredentials as |encryptable|}}
        <a href="/encryptables/{{encryptable.id}}">
          <DashboardCard @content={{encryptable}} />
        </a>
      {{/each}}
    </div>	
  {{/if}}

  {{#if @model.favouriteTeams}}
    <h3 class="primary-header">Favourites</h3>
    <div class="primary-content">
      {{#each this.model.favouriteTeams as |team|}}
        <a href="/teams/{{team.id}}">
          <DashboardCard @content={{team}} />
        </a>
      {{/each}}
    </div>
  {{/if}}

  {{#if this.model.teams}}
    <h3 class="primary-header">Teams</h3>
    <div class="primary-content">
      {{#each this.model.teams as |team|}}
        <a href="/teams/{{team.id}}">
          <DashboardCard @content={{team}} />
        </a>
      {{/each}}
    </div>
  {{/if}}
</div>
