<div class="pt-3">
  <h2>{{t "profile.index.title"}}</h2>
  
  <BsTab as |tab|>
    <tab.pane id="info" @title={{t "profile.info.info"}}>
      <table class="table table-striped mt-20">
        <thead>
          <tr>
            <th> {{t "profile.info.last_login_at"}}</th>
            <th> {{t "profile.info.last_login_from"}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{moment-format @model.info.lastLoginAt "DD.MM.YYYY hh:mm"}}</td>
            <td>{{@model.info.lastLoginFrom}}</td>
          </tr>
        </tbody>
      </table>
    </tab.pane>
    
    <tab.pane id="apiUsers" @title={{t "profile.api_users.api_users"}}>
      <div>
        <ApiUsersTable @apiUsers={{@model.apiUsers}} />
      </div>
    </tab.pane>
  </BsTab>
</div>
