{{#unless this.args.row}}
  <div id="encryptable-{{this.args.attribute}}-label">
    {{#if this.args.label}}
      {{this.args.label}}
    {{else}}
      {{t this.args.attribute}}
    {{/if}}
  </div>
{{/unless}}
<div class="hidden-attribute-copy-button">
  {{#if this.isAttributeVisible}}
    <div class="result-hidden-attribute">
      <Input id="cleartext_{{this.args.attribute}}" class="text-truncate d-inline form-control {{unless this.args.row "w-100" "mt-3"}}" @disabled="true" @value={{format-cleartext this.args.encryptable this.args.attribute}}/>
    </div>
  {{else}}
    <a id="show-{{this.args.attribute}}" role="button" class="text-truncate correct-pixel-error-omg show-hidden-attribute-button show-text {{unless this.args.row "w-100" "mt-3"}}" {{on "click" (action "showValue")}}>{{t (concat "encryptable/credentials.show.show_" this.args.attribute)}}</a>
  {{/if}}
  <div class="col px-0 d-none d-md-block">
    <button class="btn btn-light copy-btn {{if this.args.row "mt-3"}}" {{on "click" this.copyAttribute}}>
      <img class="icon-clippy img d-inline" src="/assets/images/clipboard.svg" alt="clip">
      <BsTooltip @title={{t (concat "encryptable/credentials.show.copy_" this.args.attribute)}} @delayShow="500" />
    </button>
  </div>
</div>