{{#if this.record.isFullyLoaded}}
  <BsModal class="modal_account ignore-footer-smartphone" @onHide={{action this.abort}} @renderInPlace="true" @size="lg"
           as |Modal|>
    <Modal.header>
      <h3 class="modal-title">{{@title}}</h3>
    </Modal.header>
    <Modal.body>
      <div class="container-fluid">
        <BsForm id="encryptable-form" @model={{this.changeset}} as |form|>
          <div class="encryptable-form-name">
            <div class="row">
              {{#if this.errors}}
                <div class="col-12 order-1">
                  {{#each this.errors as |error|}}
                    <div class="alert alert-danger modal-alert">
                      {{#if (eq error.detail "At least one attribute must be set")}}
                        {{t "validations.attributes.at_least_one_attribute"}}
                      {{else if (eq error.detail "has already been taken")}}
                        {{t "validations.name.duplicate_name"}}
                      {{else}}
                        {{t "error"}}
                      {{/if}}
                    </div>
                  {{/each}}
                </div>
              {{/if}}
              <div class="col-md-6 order-2">
                <div class="col-md-12">
                  <form.element id="encryptable-form-accountname" @property="name" @label={{t
                    "helpers.label.encryptable/credentials.accountname"}}
                                class={{if this.changeset.error.name.validation
                                           "invalid-input-name"}}
                                @customError={{t (validation-error-key this.changeset.error.name.validation)}} as |el|>
                    <el.control autocomplete="off" @name="name"></el.control>
                  </form.element>
                </div>
              </div>
              <div class="col-md-6 order-2">
                <div class="form-group col-md-12" id="team-power-select">
                  <form.element id="encryptable-form-team" @label={{t "team"}} @controlType="power-select"
                                @options={{this.assignableTeams}} @value={{this.selectedTeam}}
                                @customError={{t (validation-error-key this.changeset.error.team.validation)}} as |el|>
                    <el.control class={{if this.changeset.error.team.validation "invalid-input-ps"}} @placeholder={{t
                      "encryptable/credentials.edit.team_placeholder"}}
                                @renderInPlace={{true}} @onChange={{this.setSelectedTeam}} as |team|>
                      {{#if team.isPersonalTeam }}
                        {{this.userService.username}}
                      {{else}}
                        {{team.name}}
                      {{/if}}
                    </el.control>
                  </form.element>
                </div>
                <div class="form-group col-md-12" id="folder-power-select">
                  <form.element id="encryptable-form-folder" if="encryptable-form-folder"
                                @options={{this.availableFolders}} @label={{t "folder"}} @controlType="power-select"
                                @value={{this.selectedFolder}}
                                @searchEnabled={{true}} @allowClear={{true}} @searchField={{"name"}}
                                @customError={{t (validation-error-key this.changeset.error.folder.validation)}} as
                                |el|>
                    <el.control class={{if this.changeset.error.folder.validation "invalid-input-ps"}}
                                @disabled={{this.isFolderDropdownDisabled}}
                                @placeholder={{t "encryptable/credentials.edit.folder_placeholder"}}
                                @renderInPlace={{true}} @onChange={{this.setFolder}} as |folder|>
                      {{folder.name}}
                    </el.control>
                  </form.element>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 order-3 order-md-4">
              <div class="col-sm-12 col-md-12 secret border border-mute border-radius-4">
                <form.element @label={{t "password"}} id="cleartext-password" class="{{if
                  this.changeset.error.cleartextPassword.validation "invalid-input-name mb-1"}} mb-2"
                              @property="cleartextPassword" @customError={{t
                  (validation-error-key this.changeset.error.cleartextPassword.validation)}}  as |el|>
                  <el.control autocomplete="off" tabindex="3" @name="cleartextPassword"></el.control>
                </form.element>
                <PasswordStrengthMeter class="col-12 px-0 mb-2 mb-md-0" @password={{this.changeset.cleartextPassword}}/>
                <BsAccordion @selected={{1}} as |acc|>
                  <acc.item @value="2"  class="text-decoration-none" as |pwGen|>
                    <pwGen.title class="text-decoration-none">
                      <span class="text-decoration-none text-dark">
                        Password generator
                      </span>
                    </pwGen.title>
                    <pwGen.body>

                      <div class="d-flex flex-column align-items-center">
                        <div class="d-flex flex-row align-items-center justify-content-between">
                    <span class="d-flex">
                      {{t "encryptable/credentials.form.passwordLength"}}

                      <Input @type="range" class="custom-range password-range mx-1" id="formControlRange"
                             @value={{this.passwordLength}}
                             min="14" max="32"></Input>
                    </span>
                          <Input min="14" max="32" @type="number" @value={{this.passwordLength}}
                                 class="border border-mute border-radius-4 w-20 mx-3 password-length"> </Input>
                        </div>

                        <div class="d-flex justify-content-between w-100">
                          {{t "encryptable/credentials.form.symbols"}}
                          <XToggle @value={{this.withSymbols}} id="withSymbols" @onToggle={{fn (mut this.withSymbols)}}
                                   @theme="material"
                                   @size="small"/>
                        </div>
                        <button id="password-generate-button" class="btn btn-secondary btn-sm col-lg-7 mb-md-4" {{on
                          "click" this.setRandomPassword }} {{on
                        "click" (fn acc.change 1)}}
                                tabindex="4">
                          {{t "encryptable/credentials.edit.random_password"}}
                        </button>
                      </div>
                    </pwGen.body>
                  </acc.item>
                </BsAccordion>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <form.group class="col-md-12">
                <form.element @label={{t "description"}} @property="description" @controlType="textarea"
                              id="description" class="{{if
                  this.changeset.error.description.validation "invalid-input"}} vertical-resize mt-3"
                              customError={{t
                  (validation-error-key this.changeset.error.description.validation)}} as |el|>
                  <el.control tabindex="7"></el.control>
                </form.element>
              </form.group>
            </div>
            {{#if (gt this.inactiveFields.length 0)}}
              <div class="ml-3 mb-2 mt-3">{{t "additionalField"}}</div>
              <div id="encryptable-form-additional-field" class="d-flex flex-row">
                <PowerSelect
                  id="add-field-dropdown"
                  @options={{this.inactiveFields}}
                  @placeholder={{t "additionalFieldPlaceholder"}}
                  @renderInPlace={{true}}
                  @selected={{this.selectedAttribute}}
                  @onChange={{fn (mut this.selectedAttribute)}} as |attribute|>
                  {{t attribute}}
                </PowerSelect>
                <button class="btn btn-success d-inline-block p-1 ml-4 add-field" type="button" {{on "click" (action "addField")}} >
                  <img id="add-field-button" class="d-inline" src="/assets/images/plus-white.svg"
                       alt="add attribute field">
                </button>
              </div>
            {{/if}}
          </div>
        </BsForm>
      </div>
    </Modal.body>
    <Modal.footer>
      <BsButton id="encryptable-form-save-button" @onClick={{action this.submit this.changeset}} @type="primary">
        {{t "save"}}
      </BsButton>
      <BsButton id="encryptable-form-close-button" @onClick={{action this.abort}} @type="secondary">
        {{t "close"}}
      </BsButton>
    </Modal.footer>
  </BsModal>
{{/if}}
