{{#if this.isEncryptableEditing}}
  <Encryptable::Form @encryptable={{@encryptable}} @onAbort={{this.toggleEncryptableEdit}}  @title={{t "encryptable/credentials.edit.title"}}/>
{{/if}}
<div id={{concat "loader-encryptable-" @encryptable.id}} {{did-insert this.setupInViewport}}>
</div>
{{#if this.isShown}}
  {{#if this.isFile}}
    <div class="row d-flex align-items-center bg-grey-2 rounded encryptable-entry">
      <div class="mx-1">
        <img class="icon-medium-button d-inline" src="/assets/images/file.svg" alt="file icon">
      </div>

      <LinkTo class="col-4 underline-hover break-words account-link" @route="encryptables.show" @model={{@encryptable.id}}>
        {{@encryptable.name}}
      </LinkTo>

      <div class="mx-1">
        <img class="icon-medium-button d-inline" src="/assets/images/member.svg" alt="file icon">
        <BsTooltip @title={{t "tooltips.sent_by"}} @delayShow="1000" />
      </div>
      <div class="col-6 d-none d-md-block">
        {{@encryptable.sender_name}} / {{moment-format @encryptable.createdAt "DD.MM.YYYY hh:mm"}}
      </div>

      <div class="col-md-auto d-none d-md-block">
        <a class="mx-1" role="button" href={{this.downloadLink}}>
          <img class="icon-medium-button d-inline" src="/assets/images/file_download.svg" alt="download file">
          <BsTooltip @title={{t "download_file"}} @delayShow="1000" />
        </a>

        <DeleteWithConfirmation @class="mx-1" @record={{@encryptable}} @didDelete={{this.refreshRoute}}>
          <img class="icon-medium-button d-inline" src="/assets/images/delete.svg" alt="delete">
          <BsTooltip @title={{t "encryptable/transferring/file.delete_transferred_encryptables"}} @delayShow="1000" />
        </DeleteWithConfirmation>
      </div>
    </div>
  {{else}}
    <div class="row d-flex align-items-center bg-grey-2 rounded encryptable-entry">
      <LinkTo id="encryptable-row-title" class="col-3 underline-hover break-words account-link" @route="encryptables.show" @model={{@encryptable.id}}>
        {{@encryptable.name}}
      </LinkTo>
      {{#if (and (lte getAttributesAmount 2) (gt getAttributesAmount 0))}}
        {{#if @encryptable.usedAttrs.username}}
          <div class="mr-2 w-20 ml-5">
            <Encryptable::AttributeField @attribute="username" @row={{true}} @encryptable={{@encryptable}} @visibleByDefault={{false}}/>
          </div>
        {{/if}}
        {{#if @encryptable.usedAttrs.password}}
          <div class="mr-2 w-20 ml-5">
            <Encryptable::AttributeField @attribute="password" @row={{true}} @encryptable={{@encryptable}} @visibleByDefault={{false}}/>
          </div>
        {{/if}}
        {{#if @encryptable.usedAttrs.email}}
          <div class="mr-2 w-20 ml-5">
            <Encryptable::AttributeField @attribute="email" @row={{true}} @encryptable={{@encryptable}} @visibleByDefault={{false}}/>
          </div>
        {{/if}}
        {{#if @encryptable.usedAttrs.token}}
          <div class="mr-2 w-20 ml-5">
            <Encryptable::AttributeField @attribute="token" @row={{true}} @encryptable={{@encryptable}} @visibleByDefault={{false}}/>
          </div>
        {{/if}}
        {{#if @encryptable.usedAttrs.pin}}
          <div class="mr-2 w-20 ml-5">
            <Encryptable::AttributeField @attribute="pin" @row={{true}} @encryptable={{@encryptable}} @visibleByDefault={{false}}/>
          </div>
        {{/if}}
        {{#if @encryptable.usedAttrs.custom_attr}}
          <div class="mr-2 w-20 ml-5">
            <Encryptable::AttributeField @attribute="customAttr" @row={{true}} @encryptable={{@encryptable}} @visibleByDefault={{false}}/>
          </div>
        {{/if}}
      {{else}}
        <LinkTo class="col-6 underline-hover break-words account-link mt-3 mb-3 ml-5 p-0" @route="encryptables.show" @model={{@encryptable.id}}>
          {{t "encryptable/credentials.row.clickToSeeAttrs"}}
        </LinkTo>
      {{/if}}
      <div class="col-md-auto d-none d-md-block encryptable-row-icons ml-auto">
        <a class="mx-1" role="button" {{on "click" this.toggleEncryptableEdit}}>
          <img class="icon-medium-button d-inline" src="/assets/images/edit.svg" alt="edit">
          <BsTooltip @title={{t "encryptable/credentials.edit.title"}} @delayShow="1000" />
        </a>
        <DeleteWithConfirmation @class="mx-1" @record={{@encryptable}} @didDelete={{this.refreshRoute}}>
          <img class="icon-medium-button d-inline" src="/assets/images/delete.svg" alt="delete">
          <BsTooltip @title={{t "tooltips.delete_encryptables"}} @delayShow="1000" />
        </DeleteWithConfirmation>
      </div>
    </div>
  {{/if}}
{{/if}}