{{#if this.isEncryptableEditing}}
  <Encryptable::Form @encryptable={{@encryptable}} @onAbort={{this.toggleEncryptableEdit}}  @title={{t "encryptable/credentials.edit.title"}}/>
{{/if}}
<div id={{concat "loader-encryptable-" @encryptable.id}} {{did-insert this.setupInViewport}}>
</div>
{{#if this.isShown}}
  {{#if this.isFile}}
    <div class="row d-flex align-items-center bg-grey-2 rounded encryptable-entry">
      <div class="mx-1">
        <img class="icon-medium-button d-inline" src="/assets/images/file.svg" alt="file icon">
      </div>

      <LinkTo class="d-flex align-items-center text-left col-12 col-md-3 col-lg-3
      col-xl-4 underline-hover break-words account-link" @route="encryptables.show"
              @model={{@encryptable.id}}>
        {{@encryptable.name}}
      </LinkTo>

      <div>
        <img class="icon-medium-button d-inline" src="/assets/images/member.svg" alt="file icon">
        <BsTooltip @title={{t "tooltips.sent_by"}} @delayShow="1000" />
      </div>
      <div class="col-3 d-none d-md-block">
        {{@encryptable.sender_name}} / {{moment-format @encryptable.createdAt "DD.MM.YYYY hh:mm"}}
      </div>

      <div class="ml-auto col-md-auto d-none d-md-block">
        <a class="mx-1" role="button" href={{this.downloadLink}}>
          <img class="icon-medium-button d-inline" src="/assets/images/file_download.svg" alt="download file">
          <BsTooltip @title={{t "download_file"}} @delayShow="1000" />
        </a>

        <DeleteWithConfirmation @class="mx-1" @record={{@encryptable}} @didDelete={{this.refreshRoute}}>
          <img class="icon-medium-button d-inline" src="/assets/images/delete.svg" alt="delete">
          <BsTooltip @title={{t "encryptable/transferring/file.delete_transferred_encryptables"}}
                     @delayShow="1000" />
        </DeleteWithConfirmation>
      </div>
    </div>
  {{else}}
    <div class="row d-flex flex-row flex-md-row flex-lg-row flex-xl-row align-items-center bg-grey-2 rounded
    encryptable-entry">
      <LinkTo id="encryptable-row-title" class="d-flex align-items-center text-left col-12 col-md-3 col-lg-3
      col-xl-4 underline-hover break-words account-link" @route="encryptables.show" @model={{@encryptable.id}}>
        {{@encryptable.name}}
      </LinkTo>
      {{#if (and (lte getAttributesAmount 2) (gt getAttributesAmount 0))}}
        {{#if (is-included @encryptable.usedEncryptedDataAttrs "username")}}
          <div class="encryptable-container d-none d-md-block d-lg-block d-xl-block ml-0 mr-md-2 ml-md-5 mr-lg-2 ml-lg-5 mr-xl-2 ml-xl-2">
            <Encryptable::AttributeField @attribute="username" @row={{true}} @encryptable={{@encryptable}}
                                         @visibleByDefault={{false}}/>
          </div>
        {{/if}}
        {{#if (is-included @encryptable.usedEncryptedDataAttrs "password")}}
          <div class="encryptable-container d-none d-md-block d-lg-block d-xl-block mr-0 ml-0 mr-md-2 ml-md-5 mr-lg-2 ml-lg-5 mr-xl-2 ml-xl-2">
            <Encryptable::AttributeField @attribute="password" @row={{true}} @encryptable={{@encryptable}}
                                         @visibleByDefault={{false}}/>
          </div>
        {{/if}}
        {{#if (is-included @encryptable.usedEncryptedDataAttrs "email")}}
          <div class="encryptable-container d-none d-md-block d-lg-block d-xl-block mr-0 ml-0 mr-md-2 ml-md-5 mr-lg-2 ml-lg-5 mr-xl-2 ml-xl-2">
            <Encryptable::AttributeField @attribute="email" @row={{true}} @encryptable={{@encryptable}}
                                         @visibleByDefault={{false}}/>
          </div>
        {{/if}}
        {{#if (is-included @encryptable.usedEncryptedDataAttrs "token")}}
          <div class="encryptable-container d-none d-md-block d-lg-block d-xl-block mr-0 ml-0 mr-md-2 ml-md-5 mr-lg-2 ml-lg-5 mr-xl-2 ml-xl-2">
            <Encryptable::AttributeField @attribute="token" @row={{true}} @encryptable={{@encryptable}}
                                         @visibleByDefault={{false}}/>
          </div>
        {{/if}}
        {{#if (is-included @encryptable.usedEncryptedDataAttrs "pin")}}
          <div class="encryptable-container d-none d-md-block d-lg-block d-xl-block mr-0 ml-0 mr-md-2 ml-md-5 mr-lg-2 ml-lg-5 mr-xl-2 ml-xl-2">
            <Encryptable::AttributeField @attribute="pin" @row={{true}} @encryptable={{@encryptable}}
                                         @visibleByDefault={{false}}/>
          </div>
        {{/if}}
        {{#if (is-included @encryptable.usedEncryptedDataAttrs "custom_attr")}}
          <div class="encryptable-container d-none d-md-block d-lg-block d-xl-block mr-0 ml-0 mr-md-2 ml-md-5 mr-lg-2 ml-lg-5 mr-xl-2 ml-xl-2">
            <Encryptable::AttributeField @attribute="customAttr" @row={{true}} @encryptable={{@encryptable}}
                                         @visibleByDefault={{false}}/>
          </div>
        {{/if}}
      {{else}}
        <LinkTo class="col-6 underline-hover break-words account-link mt-2 mb-2 ml-2 p-0 d-none d-md-block d-lg-block d-xl-block" @route="encryptables.show"
                @model={{@encryptable.id}}>
          {{t "encryptable/credentials.row.clickToSeeAttrs"}}
        </LinkTo>
      {{/if}}
      <div class="col-md-auto d-none d-md-none d-lg-none d-xl-block encryptable-row-icons ml-auto">
        <span class="mx-1" role="button" {{on "click" this.toggleEncryptableEdit}}>
          <img class="icon-medium-button d-inline" src="/assets/images/edit.svg" alt="edit">
          <BsTooltip @title={{t "encryptable/credentials.edit.title"}} @delayShow="500" />
        </span>
        <DeleteWithConfirmation @class="mx-1" @record={{@encryptable}} @didDelete={{this.refreshRoute}}>
          <img class="icon-medium-button d-inline" src="/assets/images/delete.svg" alt="delete">
          <BsTooltip @title={{t "tooltips.delete_encryptables"}} @delayShow="500" />
        </DeleteWithConfirmation>
      </div>
    </div>
  {{/if}}
{{/if}}