{{#if this.renewMessage}}
  <div class="alert alert-primary mt-2" role="alert">
    {{this.renewMessage}}
  </div>
{{/if}}

{{#if @encryptable}}
  <table class="table table-striped mt-20 mb-15">
    <tbody>
      <tr>
        <th> {{t "username"}} </th>
        <th> {{t "description" }} </th>
        <th> {{t "actions" }} </th>
      </tr>
    </tbody>
    <tbody>
      {{@encryptable.logs}}
      {{#each @encryptable.log as |l|}}
        <Encryptable::TableRow @logs={{l}} />
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p> {{t "profile.api_users.no_api_users" }} </p>
{{/if}}
