{{#if this.isAccountEditing}}
  <AccountForm @account={{@account}} @title={{t "accounts.edit.title"}} @onAbort={{this.toggleAccountEdit}}/>
{{/if}}
{{#if this.isFileEntryCreating}}
  <FileEntryForm @class="modal_file_entry" @account={{@account}} @title={{t "file_entries.new.title"}} @onAbort={{this.toggleFileEntryNew}}/>
{{/if}}
<div class="container mt-3">
  <div class="d-flex flex-row justify-content-between">
    <div>
      <h1 class="d-inline">{{t "accounts.show.account"}}: {{@account.accountname}}</h1>
    </div>
    <div>
      <a id="edit_account_button" class="btn btn-secondary edit_button" role="button" {{on "click" this.toggleAccountEdit}} href="#">
        <img class="icon-button" src="/ember/assets/images/edit.svg" alt="edit">
      </a>
    </div>
  </div>
  <div>
    <p>{{@account.description}}</p>
    <div class="result-username">
      <Input id="cleartext_username" class="d-inline form-control" @disabled="true" @value={{@account.cleartextUsername}}/>
      <CopyButton class="btn btn-light" @clipboardText={{@account.cleartextUsername}}>
        <img class="icon-clippy img d-inline w-20" src="/ember/assets/images/clipboard.svg" alt="clip">
      </CopyButton>
    </div>
    <a role="button" class="show-password-link {{if this.isPasswordVisible "visibility-hidden"}}" {{on "click" this.showPassword}} href="#">{{t "accounts.show.show_password"}}</a>
    <div class="result-password">
      <Input id="cleartext_password" class="d-inline form-control" @disabled="true" @value={{@account.cleartextPassword}}/>
      <CopyButton class="btn btn-light" @clipboardText={{@account.cleartextPassword}}>
        <img class="icon-clippy img d-inline w-20" src="/ember/assets/images/clipboard.svg" alt="clip">
      </CopyButton>
    </div>
  </div>
  <div class="d-flex flex-row justify-content-between">
    <div>
      <h1>{{t "accounts.show.attachments"}}</h1>
    </div>
    <div>
      <BsButton @type="primary" {{on "click" this.toggleFileEntryNew}}>
        {{t "accounts.show.add_attachment"}}
      </BsButton>
    </div>
  </div>
  <table class="table table-striped">
    <tbody>
      <tr>
        <th>{{t "accounts.show.file"}}</th>
        <th>{{t "description"}}</th>
        <th>{{t "actions"}}</th>
      </tr>
      {{#each this.fileEntries as |fileEntry|}}
        <FileEntryRow @fileEntry={{fileEntry}}/>
      {{/each}}
    </tbody>
  </table>
</div>
