<BsModal class="modal_account ignore-footer-smartphone" @onHide={{action this.abort}} @renderInPlace="true" @size="lg" as |Modal|>
  <Modal.header>
    <h3 class="modal-title">{{t "encryptable/transferring/credential.new.title"}}</h3>
  </Modal.header>
  <Modal.body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 transfer-file-description">
          <div>{{t "encryptable/transferring/credential.description_for_sender"}}</div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-5">
          <PowerSelectTypeahead @renderInPlace="true" @options={{this.candidates}} @search={{this.search}} @onChange={{fn this.selectReceiver}} @selected={{this.changeset.receiver.label}} @placeholder={{t "encryptable/transferring/credential.receiver.name"}} as |candidate|>
            {{candidate.label}}
          </PowerSelectTypeahead>
        </div>
      </div>

      {{#each this.errors as |error|}}
        <div class="alert alert-danger modal-alert ">
          {{error.detail}}.<br>
        </div>
      {{/each}}

    </div>
  </Modal.body>

  <Modal.footer>
    <BsButton @onClick={{action this.submit this.changeset}} alt="save" @type="primary">{{t "encryptable/transferring/credential.submit"}}</BsButton>
  </Modal.footer>
</BsModal>