<BsModal class="modal_account ignore-footer-smartphone" @onHide={{action this.abort}} @renderInPlace="true" @size="lg" as |Modal|>
  <Modal.header>
    <h3 class="modal-title">{{t "encryptable/transferring/credential.new.title"}}</h3>
  </Modal.header>
  <Modal.body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 transfer-file-description">
          <div>
            {{t "encryptable/transferring/credential.description_for_sender_start"}}
            {{ this.encryptableName}}
            {{t "encryptable/transferring/credential.description_for_sender_end"}}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-5">
          <PowerSelect
            @searchEnabled="true"
            @searchField="label"
            @search={{this.search}}
            @selected={{this.changeset.receiver}}
            @renderInPlace="true"
            @options={{this.candidates}}
            @placeholder={{t "encryptable/transferring/credential.receiver.name"}}
            @onChange={{this.selectReceiver}} as |candidate|>
            {{candidate.label}}
          </PowerSelect>
        </div>
      </div>
    </div>
  </Modal.body>

  <Modal.footer>
    <BsButton @onClick={{action this.submit this.changeset}} disabled={{ this.submitIsDisabled }} alt="save" @type="primary">{{t "encryptable/transferring/credential.submit"}}</BsButton>
  </Modal.footer>
</BsModal>