<BsModal class="modal_file_entry" @onHide={{action "abort"}} @renderInPlace="true" @size="lg" as |Modal|>
  <Modal.header>
    <h3 class="modal-title align-middle" id="accountFormModalLabel">{{@title}}</h3>
  </Modal.header>
  <Modal.body>
    <div class="container-fluid">
      {{#each this.errors as |error|}}
        <div class="alert alert-danger modal-alert ">
          {{error.detail}}.<br>
          {{t "file_entries.new.reupload"}}
        </div>
      {{/each}}
      <div class="row">
        <div class="form-group col-md-12">
          <div>
            <label>{{t "file_entries.new.choose_file"}}</label>
            <div class="dropzone-text">
              {{#if this.changeset.file}}
                {{t "file_entries.new.selected_file"}}: {{this.changeset.file.name}}
              {{/if}}
              <div>
                <FileUpload @name="file"
                            @accept="*"
                            @for="upload-file"
                            @multiple={{false}}
                            @onfileadd={{this.uploadFile}}
                            @ondrop={{this.uploadFile}}>
                  <a id="upload-file" tabindex="0">{{t (if this.changeset.file "file_entries.new.reupload" "file_entries.new.upload_file")}}.</a>
                </FileUpload>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <label name="description">{{t "description"}}</label>
          <div>
            <Textarea class="form-control vertical-resize" @name="description" @value={{this.changeset.description}}/>
            <ValidationErrorsList @errors={{this.changeset.error.description.validation}}/>
          </div>
        </div>
      </div>
    </div>
  </Modal.body>
  <Modal.footer>
    <BsButton @onClick={{action this.submit this.changeset}} @type="primary">{{t "file_entries.new.upload"}}</BsButton>
    <BsButton @onClick={{action this.abort}} @type="secondary">{{t "close"}}</BsButton>
  </Modal.footer>
</BsModal>
