<BsModal class="modal_account ignore-footer-smartphone" @onHide={{action this.abort}} @renderInPlace="true" @size="lg" as |Modal|>
  <Modal.header>
    <h3 class="modal-title">{{@title}}</h3>
  </Modal.header>
  <Modal.body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div>{{t "encryptable/transferring/file.description"}}</div>
        </div>
      </div>

      <BsForm @model={{this.changeset}} as |form|>
        <div class="row">
          <div class="col-md-5">
             <PowerSelectTypeahead @renderInPlace="true" @options={{this.candidates}} @search={{this.search}} @onChange={{fn this.selectReceiver}} @selected={{this.changeset.receiver.label}} @placeholder={{t "encryptable/transferring/file.receiver.name"}} as |candidate|>
               {{candidate.label}}
             </PowerSelectTypeahead>
          </div>
        </div>

        <div class="row2">
          {{#each this.errors as |error|}}
            <div class="alert alert-danger modal-alert ">
              {{error.detail}}.
            </div>
          {{/each}}
        </div>

        <div class="row">
          <form.group class="col-md-12">
            {{#if this.changeset.file}}
              <div class="mb-2">
                {{t "encryptable_files.new.selected_file"}}: {{this.changeset.file.name}}
              </div>
            {{else}}
              <div class="mb-2">
                {{t "encryptable_files.new.choose_file"}}
              </div>
            {{/if}}
            <div>
              <FileUpload @name="file"
                         @accept="*"
                         @for="upload-file"
                         @multiple={{false}}
                         @onfileadd={{this.uploadFile}}
                         @ondrop={{this.uploadFile}}
                         class="btn btn-primary">
                <a id="upload-file" tabindex="0">{{t (if this.changeset.file "encryptable_files.new.reupload" "encryptable_files.new.upload_file")}}</a>
              </FileUpload>
            </div>
          </form.group>
        </div>

        <div class="row">
          <div class="col-md-12">
            <label name="description">{{t "description"}}</label>
            <div>
              <Textarea class="form-control vertical-resize" @name="description" @value={{this.changeset.description}}/>
              <ValidationErrorsList @errors={{this.changeset.error.description.validation}}/>
            </div>
          </div>
        </div>
      </BsForm>
    </div>
  </Modal.body>

  <Modal.footer>
    <BsButton @onClick={{action this.submit this.changeset}} @type="primary">{{t "encryptable/transferring/file.submit"}}</BsButton>
  </Modal.footer>
</BsModal>