<BsModal class="modal_account ignore-footer-smartphone" @onHide={{action this.abort}} @renderInPlace="true" @size="lg" as |Modal|>
  <Modal.header>
    <h3 class="modal-title">{{t "encryptable/file.transfer.new.title"}}</h3>
  </Modal.header>
  <Modal.body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 transfer-file-description">
          <div>{{t "encryptable/file.description_for_sender"}}</div>
        </div>
      </div>

      <BsForm @model={{this.changeset}} as |form|>
        <div class="row">
          <div class="col-md-5">
            <PowerSelect
              @searchEnabled="true"
              @searchField="label"
              @search={{this.search}}
              @renderInPlace="true"
              @options={{this.candidates}}
              @selected={{this.changeset.receiver}}
              @placeholder={{t "encryptable/transferring/file.receiver.name"}}
              @onChange={{this.selectReceiver}} as |candidate|>
              {{candidate.label}}
            </PowerSelect>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            {{#if this.changeset.file}}
              <div class="mb-2 transfer-file-upload">
                {{t "encryptable_files.attachment.selected_file"}}: {{this.changeset.file.name}}
              </div>
            {{else}}
              <div class="mb-2 transfer-file-upload">
                {{t "encryptable_files.attachment.choose_file"}}
              </div>
            {{/if}}
            <div>
              <FileUpload @name="file"
                         @accept="*"
                         @for="upload-file"
                         @multiple={{false}}
                         @onfileadd={{this.uploadFile}}
                         @ondrop={{this.uploadFile}}
                         class="btn btn-primary">
                <a id="upload-file" tabindex="0">{{t (if this.changeset.file "encryptable_files.reupload" "encryptable_files.attachment.upload_file")}}</a>
              </FileUpload>
            <div class="mb-3">
              {{#let (file-queue name="files" onFileAdded=this.uploadFile) as |queue| }}
                <input type="file" id="actual-btn" hidden {{queue.selectFile}}>
                <label class="btn btn-primary w-100" for="actual-btn">
                  {{t (if this.changeset.file "encryptable_files.new.reupload"
                        "encryptable_files.new.upload_file")}}
                </label>
              {{/let}}
            </div>
            </div>
          </form.group>
        </div>

        {{#each this.errors as |error|}}
          <div class="alert alert-danger modal-alert ">
            {{error.detail}}.<br>
          </div>
        {{/each}}

        <div class="row">
          <div class="col-md-12">
            <label name="description">{{t "encryptable/file.description_for_receiver"}}</label>
            <div>
              <Textarea class="form-control vertical-resize" name="description" @value={{this.changeset.description}} />
              <ValidationErrorsList @errors={{this.changeset.error.description.validation}}/>
            </div>
          </div>
        </div>
        </div>
      </BsForm>
    </div>
  </Modal.body>

  <Modal.footer>
    <BsButton @onClick={{action this.submit this.changeset}} disabled={{this.submitIsDisabled}} alt="save" @type="primary">{{t "encryptable/transferring/file.submit"}}</BsButton>
  </Modal.footer>
</BsModal>