{{#if this.isFolderEditing}}
  <FolderForm @folder={{@folder}} @onAbort={{this.toggleFolderEdit}}/>
{{/if}}
<div class="mb-0" role="button" {{on "click" this.collapse}}>
  <div class="d-flex flex-row justify-content-between">
    <div>
      <h2 class="folder-header d-inline">{{@folder.name}}</h2>
    </div>
    <div>
      <a role="button" {{on "click" this.toggleFolderEdit}}>
        <img class="icon-button folder-edit-icon" src="/ember/assets/images/edit.svg" alt="edit">
      </a>
    </div>
  </div>
  <hr class="folder-divider">
</div>
<BsCollapse @collapsed={{this.collapsed}}>
  {{@folder.description}}
  {{#each @folder.accounts as |account|}}
    <AccountShow @account={{account}}/>
  {{/each}}
</BsCollapse>
