{{#if this.isFolderEditing}}
  <FolderForm @folder={{@folder}} @onAbort={{this.toggleFolderEdit}} @title={{t "folders.edit.title"}}/>
{{/if}}
{{#if this.isNewAccount}}
  <AccountForm @onAbort={{this.toggleAccountCreating}} @title={{t "accounts.new.title"}}/>
{{/if}}
<div class="pl-2 pr-2 folder-card-header {{if this.collapsed "br-4"}}">
  <div class="d-flex row justify-content-between folder-show-header">
    <div class="col-auto my-auto" role="button" {{on "click" this.collapse}}>
      <img class="icon icon-folder py-auto" src="/ember/assets/images/folder.svg" alt="">
    </div>
    <div class="col pl-0 my-auto" role="button" {{on "click" this.collapse}}>
      <h6 class="d-inline">{{@folder.name}}</h6>
    </div>
    <div class="col-auto justify-content-between align-items-center">
      <a class="margin-for-buttons mx-1" role="button" {{on "click" this.toggleAccountCreating}}>
        <img class="icon-big-button " src="/ember/assets/images/plus.svg" alt="new">
        <BsTooltip @title={{t "tooltips.add_account"}} @delayShow="1000" />
      </a>
      <DeleteWithConfirmation @class="mx-1" @record={{@folder}} @didDelete={{this.refreshRoute}}>
        <img class="icon-big-button d-inline my-auto" src="/ember/assets/images/delete.svg" alt="delete folder">
        <BsTooltip @title={{t "tooltips.delete_folder"}} @delayShow="1000" />
      </DeleteWithConfirmation>
      <a class="margin-for-buttons mx-1" role="button" {{on "click" this.toggleFolderEdit}}>
        <img class="icon-big-button " src="/ember/assets/images/edit.svg" alt="edit folder">
        <BsTooltip @title={{t "folders.tooltips.edit"}} @delayShow="1000" />
      </a>
    </div>
    <div class="col-auto ml-0 pl-0 my-auto">
      <span role="button" name="folder-collapse" {{on "click" this.collapse}}>
        {{#if this.collapsed}}
          <img class="icon-big-button float-right" src="/ember/assets/images/angle-left.svg" alt="<">
        {{else}}
          <img class="icon-big-button float-right" src="/ember/assets/images/angle-down.svg" alt="v">
        {{/if}}
      </span>
    </div>
  </div>
</div>
<BsCollapse  @collapsed={{this.collapsed}}>
  <div class="folder-collapse-box">
    {{#if @folder.description}}
      <div class="row pt-3">
        <div class="col">
          <p class="text-muted description mb-0">{{@folder.description}}</p>
        </div>
      </div>
    {{/if}}

    <div class="row">
      <div class="col">
        {{#if @folder.accounts}}
          {{#each @folder.accounts as |account|}}
            <div class="account-row px-3 py-1">
              <AccountEntry @account={{account}}/>
            </div>
          {{/each}}
        {{else}}
          <div class="col no-acc">
            <em>{{t "folders.no_accounts"}}</em>
          </div>
        {{/if}}
      </div>
    </div>

  </div>
</BsCollapse>
