<BsModal class="modal_folder" @onHide={{action this.abort}} @renderInPlace="true" @size="lg" as |Modal|>
  <Modal.header>
    <h3 class="modal-title align-middle" id="folderFormModalLabel">{{@title}}</h3>
  </Modal.header>
  <Modal.body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="form-group col-md-12">
              <label name="name">{{t "folders.name"}}</label>
              <div>
                <Input class="form-control" @value={{this.changeset.name}} @name="name" />
                <ValidationErrorsList @errors={{this.changeset.error.name.validation}}/>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-12" id="team-power-select">
              <label name="team">{{t "team"}}</label>
              <PowerSelect class="mb-1" @disabled={{false}} @options={{this.assignableTeams}} @selected={{this.selectedTeam}} @onChange={{this.setSelectedTeam}} @renderInPlace={{true}} @allowClear={{true}} @placeholder={{t "accounts.edit.team_placeholder"}} @searchEnabled={{true}} @searchField={{"name"}} as |team|>
                {{team.name}}
              </PowerSelect>
              <ValidationErrorsList @errors={{this.changeset.error.team.validation}}/>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <label name="description">{{t "description"}}</label>
          <div>
            <Textarea class="form-control vertical-resize" @value={{this.changeset.description}} @name="description"/>
            <ValidationErrorsList @errors={{this.changeset.error.description.validation}}/>
          </div>
        </div>
      </div>
    </div>
  </Modal.body>
  <Modal.footer>
    <BsButton @onClick={{action this.submit this.changeset}} @type="primary">{{t "save"}}</BsButton>
    <BsButton @onClick={{action this.abort}} @type="secondary">{{t "close"}}</BsButton>
  </Modal.footer>
</BsModal>
