<div class="footer">
  <div class="content">
    <div class="w-250 float-left">
      <a href="https://www.puzzle.ch" target="_blank" rel="noopener">
        <span class="helper"></span>
        <img src="/ember/assets/images/puzzle_classic_rgb.png" alt="logo" class="logo-icon mt-1">
      </a>
    </div>
    <div class="float-left p-10">
      <a href="https://github.com/puzzle/cryptopus" target="_blank" rel="noopener">Cryptopus</a>
      |
      <a href="https://github.com/puzzle/cryptopus/wiki/User-manual" target="_blank" rel="noopener">{{t "help"}}</a>
      |
      <a href="/changelog">{{t "version"}} {{this.version}}</a>
    </div>
    <div class="float-right w-50 d-flex align-items-center justify-content-end">
      <div class="d-inline">
        <small>
          {{t "auto_logout"}}
          <span id="countdown">{{this.logoutTimerService.timeToLogoff}}</span>
        </small>
      </div>

      <div class="ml-4 d-inline-block" style="padding-right: 12px">
        <PowerSelect id="locale-dropdown" @options={{this.availableLocales}} @selected={{this.selectedLocale}} @onChange={{this.setLocale}}
                     @verticalPosition="above" @renderInPlace={{true}} as |locale|>
          {{locale.name}}
        </PowerSelect>
      </div>
    </div>
  </div>
</div>
