{{#if this.isChangelogOpen}}
  <Changelog @onAbort={{this.toggleChangelogModal}} @title="Changelog"/>
{{/if}}
<pzsh-footer class="footer">
  <div slot="start">
    <a role="button" {{on "click" this.toggleChangelogModal}}>
      <pzsh-footer-link>
        {{ t "version"}} {{this.version}}
      </pzsh-footer-link>
    </a>

    <pzsh-footer-link>
      <a class="link-new-tab-footer" href="https://github.com/puzzle/cryptopus" target="_blank" rel="noreferrer noopener">
        <pzsh-icon name="github"></pzsh-icon>
        {{t "contribute_on_github"}}
      </a>
    </pzsh-footer-link>
  </div>

  <div slot="center">
    <span id="countdown">{{t "auto_logout"}} {{this.logoutTimerService.timeToLogoff}}</span>
  </div>

  <div slot="end">
    <PowerSelect id="locale-dropdown" @options={{this.availableLocales}} @selected={{this.selectedLocale}}
                 @onChange={{this.setLocale}} @verticalPosition="above" @animationEnabled={{false}}
                 @renderInPlace={{true}} as |locale|>
      {{locale.name}}
    </PowerSelect>
    <img src="/assets/images/powered-by-puzzle-itc.svg" alt="powered by puzzle itc">
  </div>
</pzsh-footer>
