{{#if this.isChangelogOpen}}
  <Changelog @onAbort={{this.toggleChangelogModal}} @title="Changelog"/>
{{/if}}
<pzsh-footer class="footer">
  <div slot="start">
    <pzsh-footer-link {{on "click" this.toggleChangelogModal}}>
      {{ t "version"}} {{this.version}}
    </pzsh-footer-link>

    <pzsh-footer-link href="https://github.com/puzzle/cryptopus">
      <pzsh-icon name="github"></pzsh-icon>
      {{t "contribute_on_github"}}
    </pzsh-footer-link>
  </div>

  <div slot="center">
    <span id="countdown">{{t "auto_logout"}} {{this.logoutTimerService.timeToLogoff}}</span>
  </div>

  <div slot="end">
    <PowerSelect id="locale-dropdown" @options={{this.availableLocales}} @selected={{this.selectedLocale}}
                 @onChange={{this.setLocale}} @verticalPosition="above" @animationEnabled={{false}}
                 @renderInPlace={{true}} as |locale|>
      {{locale.name}}
    </PowerSelect>
    <img src="/assets/images/powered-by-puzzle-itc.svg" alt="powered by puzzle itc">
  </div>
</pzsh-footer>
