{{#if this.isNewEncryptable}}
  <Encryptable::Form @onAbort={{this.toggleEncryptableCreating}} @title={{t "encryptables.new.title"}}/>
{{/if}}
{{#if this.isNewFolder}}
  <Folder::Form @onAbort={{this.toggleFolderCreating}} @title={{t "folders.new.title"}}/>
{{/if}}
{{#if this.isNewTeam}}
  <Team::Form @onAbort={{this.toggleTeamCreating}} @title={{t "teams.new.title"}}/>
{{/if}}

<pzsh-topbar>
  <LinkTo @route="index" class="cryptopus-logo">
    <img src="/assets/images/cryptopus-logo.svg" alt="cryptopus logo">
  </LinkTo>
</pzsh-topbar>

<pzsh-banner>
  <img slot="tangram" width="95" height="100" src="/assets/images/tangram.svg" alt="tangram">
  <div slot="content" class="search">
    <div class="search-field">
      <Input @class="search" @type="search"
             @value={{ this.navService.searchQuery }}
             placeholder={{t (concat "search.index.type_to_search." (if this.navService.isShowingFavourites "favourites" "all"))}} @keyUp={{this.searchByQuery}}
             @autofocus={{this.isStartpage}} maxlength="70"/>
      <button>
        <pzsh-icon name="search"></pzsh-icon>
      </button>
    </div>

    <BsDropdown @class="d-flex align-items-center" as |dd|>
      <dd.toggle class="dropdown-toggle">
        <pzsh-icon name="plus-circle"></pzsh-icon>
        <div class="dropdown-toggle-text">
          <span>{{t "add"}}</span>
          <img class="icon-dropdown-toggle-1" src="/assets/images/angle-down-blue.svg" alt="v">
        </div>
      </dd.toggle>
      <dd.menu @align="right" as |ddm|>
        <ddm.item>
          <a role="button" class="dropdown-item" {{on "click" this.toggleEncryptableCreating}}>
            {{t "encryptables.new.title"}}
          </a>
        </ddm.item>
        <ddm.item>
          <a role="button" class="dropdown-item" {{on "click" this.toggleFolderCreating}}>
            {{t "folders.new.title"}}
          </a>
        </ddm.item>
        <ddm.item>
          <a role="button" class="dropdown-item" {{on "click" this.toggleTeamCreating}}>
            {{t "teams.new.title"}}
          </a>
        </ddm.item>
      </dd.menu>
    </BsDropdown>
  </div>
</pzsh-banner>

<pzsh-menu>
  <div slot="actions">
    <pzsh-menu-action>
      <a class="link-new-tab" href="https://github.com/puzzle/cryptopus/wiki/User-manual" target="_blank"
         rel="noreferrer noopener">
        <pzsh-icon name="question-circle"></pzsh-icon>
        {{ t "help"}}
      </a>
    </pzsh-menu-action>

    {{#if this.userService.mayManageSettings}}
      <pzsh-menu-dropdown>
        <div slot="toggle">
          <pzsh-icon name="sliders-v-alt"></pzsh-icon>
          Admin
        </div>
        <div slot="items">
          <LinkTo role="button" @route="admin.users" @tagName="pzsh-menu-dropdown-item">
            <pzsh-icon name="user"></pzsh-icon>
            {{ t "users" }}
          </LinkTo>
          <LinkTo role="button" @route="admin.settings" @tagName="pzsh-menu-dropdown-item">
            <pzsh-icon name="setting"></pzsh-icon>
            {{ t "settings" }}
          </LinkTo>
        </div>
      </pzsh-menu-dropdown>
    {{/if}}

    <pzsh-menu-dropdown>
      <div slot="toggle">
        <pzsh-icon name="user"></pzsh-icon>
        {{ this.givenname }}
      </div>
      <div slot="items">
        <LinkTo role="button" @route="profile" @tagName="pzsh-menu-dropdown-item">
          <pzsh-icon name="setting"></pzsh-icon>
          {{ t "profile_title" }}
        </LinkTo>
        <pzsh-menu-dropdown-item href="/session/destroy">
          <pzsh-icon name="sign-out-alt"></pzsh-icon>
          {{ t "logout" }}
        </pzsh-menu-dropdown-item>
      </div>
    </pzsh-menu-dropdown>
  </div>
</pzsh-menu>
