{{#if this.isNewAccount}}
  <AccountForm @onAbort={{this.toggleAccountCreating}} @title={{t "accounts.new.title"}}/>
{{/if}}
{{#if this.isNewFolder}}
  <FolderForm @onAbort={{this.toggleFolderCreating}} @title={{t "folders.new.title"}}/>
{{/if}}
{{#if this.isNewTeam}}
  <TeamForm @onAbort={{this.toggleTeamCreating}} @title={{t "teams.new.title"}}/>
{{/if}}
<BsNavbar
  @type="dark"
  @backgroundColor="custom"
  @class="navbar-custom" as |navbar| >
  <div class="container pl-0 pr-0">
    <navbar.content>
      <div class="form-inline">
        {{#if this.isStartpage}}
          <Input @class="form-control mr-sm-2" @type="search" placeholder={{t "search.index.type_to_search"}} {{autofocus}} />
        {{else}}
          <Input @class="form-control mr-sm-2" @type="search" placeholder={{t "search.index.type_to_search"}}/>
        {{/if}}
      </div>
      <navbar.nav @class="ml-auto">
        <BsDropdown as |dd|>
          <div class="btn-group">
            <a class="nav-link d-inline" role="button" {{on "click" this.toggleAccountCreating}}>{{t "accounts.new.title"}}</a>
            <dd.toggle class="dropdown-toggle-hided">
              <span class="helper"></span><img class="icon icon-button" src="/ember/assets/images/angle-down.svg" alt="v">
            </dd.toggle>
          </div>
          <dd.menu as |ddm|>
            <ddm.item>
              <a role="button" class="dropdown-item" {{on "click" this.toggleFolderCreating}}>{{t "folders.new.title"}}</a>
            </ddm.item>
            <ddm.item>
              <a role="button" class="dropdown-item" {{on "click" this.toggleTeamCreating}}>{{t "teams.new.title"}}</a>
            </ddm.item>
          </dd.menu>
        </BsDropdown>
        <div class="nav-item">
          <a class="nav-link" href="/profile">
            Profile
          </a>
        </div>
        <div class="nav-item">
          <a href="/session/destroy">
            <span class="helper"></span><img class="icon icon-button" src="/ember/assets/icons/sign_out.svg" alt="Logout">
          </a>
        </div>
      </navbar.nav>
    </navbar.content>
  </div>
</BsNavbar>
