{{#if this.isNewAccount}}
  <Account::Form @onAbort={{this.toggleAccountCreating}} @title={{t "accounts.new.title"}}/>
{{/if}}
{{#if this.isNewFolder}}
  <Folder::Form @onAbort={{this.toggleFolderCreating}} @title={{t "folders.new.title"}}/>
{{/if}}
{{#if this.isNewTeam}}
  <Team::Form @onAbort={{this.toggleTeamCreating}} @title={{t "teams.new.title"}}/>
{{/if}}

<pzsh-topbar>
  <LinkTo @route="index" class="cryptopus-logo" slot="logo">
    <img width="214" height="32" src="/assets/images/cryptopus-logo.svg" alt="cryptopus logo">
  </LinkTo>
  <div slot="actions" class="actions">
    <div class="input-wrapper ml-5">
      <Input @class="search" @type="search"
             @value={{ this.navService.searchQuery }}
             placeholder={{t "search.index.type_to_search"}} @keyUp={{this.searchByQuery}}
             @autofocus={{this.isStartpage}} maxlength="70"/>

      <BsDropdown @class="d-flex align-items-center" as |dd|>
        <div class="action-wrapper">
          <a class="w-100" role="button" {{on "click" this.toggleAccountCreating}}>
            {{t "accounts.new.title"}}
          </a>
          <dd.toggle class="dropdown-toggle-hidden">
            <img class="icon-dropdown-toggle-1" src="/assets/images/angle-down-white.svg" alt="v">
          </dd.toggle>
        </div>
        <dd.menu @align="right" as |ddm|>
          <ddm.item>
            <a role="button" class="dropdown-item" {{on "click" this.toggleFolderCreating}}>
              {{t "folders.new.title"}}
            </a>
          </ddm.item>
          <ddm.item>
            <a role="button" class="dropdown-item" {{on "click" this.toggleTeamCreating}}>{{t "teams.new.title"}}</a>
          </ddm.item>
        </dd.menu>
      </BsDropdown>
    </div>

    <pzsh-topbar-link href="https://github.com/puzzle/cryptopus/wiki/User-manual" class="help">
      <pzsh-icon name="question-circle"></pzsh-icon>
      {{ t "help"}}
    </pzsh-topbar-link>

    {{#if this.userService.mayManageSettings}}
      <BsDropdown @class="d-flex align-items-center" as |dd|>
        <LinkTo @route="admin.users" @tagName="pzsh-topbar-link" class="administration">
          <pzsh-icon name="users-alt"></pzsh-icon>
          Administration
        </LinkTo>
        <dd.toggle class="dropdown-toggle">
          <img class="icon-dropdown-toggle-2" src="/assets/images/angle-down-white.svg" alt="v">
        </dd.toggle>
        <dd.menu @align="right" as |ddm|>
          <ddm.item>
            <LinkTo role="button" class="dropdown-item" @route="admin.settings">
              {{ t "settings" }}
            </LinkTo>
          </ddm.item>
        </dd.menu>
      </BsDropdown>
    {{/if}}

    <LinkTo @route="profile" @tagName="pzsh-topbar-link">
      <pzsh-icon name="user-circle"></pzsh-icon>
      {{ this.givenname }}
    </LinkTo>

    <pzsh-topbar-link href="/session/destroy">
      <img class="sign-out-icon" src="/assets/images/sign_out.svg" alt=">">
      {{ t "logout" }}
    </pzsh-topbar-link>
  </div>
</pzsh-topbar>
