<div id="sidebar">
  <nav class="navbar navbar-dark navbar-inverse">
    <div class="navbar-header ml-3">
      <LinkTo class="text-decoration-none" @route="index">
        <img src="/ember/assets/images/cryptopussy_without_text.svg" alt="logo" class="logo-icon">
        <span class="ml-1 navbar-brand">
          Cryptopus
        </span>
      </LinkTo>
    </div>
    <div class="navbar navbar-collapse nav-side-bar" id="nav-side-bar-container" {{did-insert this.setupModal this}}>
      <div class="list-group list-group-root">
        <div class="d-flex justify-content-center list-group-item list-group-item-action top-item bg-blue-one border-0">
          <BsButtonGroup @type="radio" @value={{this.showsFavourites}} @onChange={{this.toggleFavourites}} as |bg|>
            <bg.button @type="primary" @value={{false}}>
              <img class="icon icon-button" src="/ember/assets/images/members.svg" alt="">
            </bg.button>
            <bg.button @type="primary" @value={{true}}>
              <img class="icon icon-button" src="/ember/assets/images/star{{if this.showsFavourites "-filled"}}.svg" alt="star">
            </bg.button>
          </BsButtonGroup>
        </div>

        {{#if this.teams}}
          <div class="side-nav-bar-teams-list">
            {{#each this.teams as |team|}}
              <a {{on "click" (fn this.setSelectedTeam team)}} role="button" id="side-bar-team-{{team.id}}" class="list-group-item list-group-item-action {{if (eq team this.navService.selectedTeam) "bg-blue-three" "bg-blue-one"}}">
                {{#if team.private}}
                  <img class="icon icon-button" src="/ember/assets/images/members.svg" alt="">
                {{else}}
                  <img class="icon icon-button" src="/ember/assets/images/encrypted_small.svg" alt="">
                {{/if}}
                {{truncate team.name 13}}
                {{#if (or (not (eq team this.navService.selectedTeam)) this.collapsed)}}
                  <img class="icon icon-button float-right" src="/ember/assets/images/angle-left.svg" alt="<">
                {{else}}
                  <img class="icon icon-button float-right" src="/ember/assets/images/angle-down.svg" alt="v">
                {{/if}}
              </a>
              <BsCollapse class="list-group" id="nav-folders-{{team.id}}" @collapsed={{or (not (eq team this.navService.selectedTeam)) this.collapsed}}>
                {{#each team.folders as |folder|}}
                  <a role="button"  class="list-group-item {{if (eq folder this.navService.selectedFolder) "bg-blue-two selected-nav-entry" "bg-blue-three"}}" {{on "click" (fn this.setSelectedFolder folder)}}>
                    <img class="icon icon-button" src="/ember/assets/images/folder.svg" alt="">
                    {{truncate folder.name 15}}
                  </a>
                {{/each}}
                {{#unless team.folders}}
                  <a class="list-group-item bg-blue-three">
                    <span class="font-weight-light">No folders</span>
                  </a>
                {{/unless}}
              </BsCollapse>
            {{/each}}
          </div>
        {{else}}
          <div class="list-group-item list-group-item-action bg-blue-one">{{t "teams.none_available"}}</div>
        {{/if}}
      </div>
    </div>
  </nav>
</div>
