<BsModal @onSubmit={{action "submit"}} @onHidden={{action "abort"}} @renderInPlace="true" @size="lg" as |Modal|>
  <Modal.header>
    <h3 class="modal-title">{{@title}}</h3>
  </Modal.header>
  <Modal.body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label name="name">{{t "helpers.label.team.name"}}</label>
            <div>
              <Input class={{concat "form-control" (if this.changeset.error.name.validation " invalid-input")}} @value={{this.changeset.name}} @name="name" />
              <ValidationErrorsList @errors={{this.changeset.error.name.validation}}/>
            </div>
          </div>
          <div class="checkbox">
            <label for="checkbox-private" name="private">{{t "teams.form.private"}}</label>
            <span data-toggle="private-info-tooltip" data-html="true" data-placement="top" title="<b>{{t "teams.description.private"}}</b>">
              <img src="/ember/assets/images/info.svg" alt="info" class="info-icon icon-button" >
            </span>
            <Input id="checkbox-private" class="" @type="checkbox" @checked={{this.changeset.private}} @name="private" disabled={{not this.isNewRecord }}/>
          </div>
        </div>
        <div class="col-md-12">
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label name="description">{{t "helpers.label.team.description"}}</label>
            <div>
              <Textarea class={{concat "form-control vertical-resize" (if this.changeset.error.description.validation " invalid-input")}} @value={{this.changeset.description}} @name="description"/>
              <ValidationErrorsList @errors={{this.changeset.error.description.validation}}/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </Modal.body>
  <Modal.footer>
    <BsButton @onClick={{action this.submit this.changeset}} @type="primary">{{t "save"}}</BsButton>
    <BsButton @onClick={{action this.abort}} @type="secondary">{{t "close"}}</BsButton>
  </Modal.footer>
</BsModal>
