<BsModal class="modal_team" @onHide={{action this.abort}} @renderInPlace="true" @size="lg" as |Modal|>
  <Modal.header>
    <h3 class="modal-title">{{@title}}</h3>
  </Modal.header>
  <Modal.body>
    <div class="container-fluid">
      <BsForm @model={{this.changeset}} as |form|>
        <div class="row">
          <div class="col-md-12">
            <form.group>
              <form.element @property="name" @label={{t "helpers.label.team.name"}}
                            @name="teamname" class={{if this.changeset.error.name.validation
                                                           "invalid-input-name"}}
                            id="teamname" @tabindex="1"
                            @customError={{this.changeset.error.name.validation}} />
            </form.group>
            <div class="checkbox">
              <div class="d-flex justify-content-start">
              <div class="align-self-center">
                <label for="checkbox-private" name="private">{{t "teams.form.private"}}</label>
              </div>
              <div class="align-self-center mb-2 ml-2">
                <img src="/ember/assets/images/info.svg" alt="info" class="info-icon icon-button">
              </div>
              <div class="align-self-center mb-2 ml-2">
              <Input id="checkbox-private" class="" @type="checkbox" @checked={{this.changeset.private}} @name="private"
                     disabled={{not this.isNewRecord }}/></div>
            </div>
            </div>
          </div>
          <div class="col-md-12">
          </div>
          <div class="col-md-12">
            <form.group>
              <form.element @label={{t "helpers.label.team.description"}} @property="description" @controlType="textarea"
                            id="description" class="{{if
                      this.changeset.error.description.validation "invalid-input"}} vertical-resize"
                            @tabindex="7" @customError={{this.changeset.error.description.validation}}/>
            </form.group>
          </div>
        </div>
      </BsForm>
    </div>
  </Modal.body>
  <Modal.footer>
    <BsButton @onClick={{action this.submit this.changeset}} @type="primary">{{t "save"}}</BsButton>
    <BsButton @onClick={{action this.abort}} @type="secondary">{{t "close"}}</BsButton>
  </Modal.footer>
</BsModal>
