{{#if this.isTeamEditing}}
  <TeamForm @team={{@team}} @onAbort={{this.toggleTeamEdit}} @title={{t "teams.edit.title"}}/>
{{/if}}
{{#if this.isTeamConfiguring}}
  <TeamMemberConfigure @teamId={{@team.id}} @onAbort={{this.toggleTeamConfigure}}/>
{{/if}}
<div class="container mb-4 ml-254">
  <div>
    <div class="row py-2 d-flex border {{if this.collapsed "rounded" "rounded-top"}}">
      <div class="col" role="button" {{on "click" this.collapse}}>
        <h2 class="d-inline">{{@team.name}}</h2>
      </div>
      <div class="col-auto my-auto">
        <span>
          <span role="button" {{on "click" this.toggleTeamEdit}}>
            <img class="icon-big-button" src="/ember/assets/images/edit.svg" alt="edit">
          </span>
          <span id="config_team_button" role="button" {{on "click" this.toggleTeamConfigure}}>
            <img class="icon-big-button" src="/ember/assets/images/members.svg" alt="configure">
          </span>
          <span role="button" {{on "click" this.toggleFavourised}}>
            <img class="icon-big-button" src="/ember/assets/images/star{{if @team.favourised "-filled"}}.svg" alt="star">
          </span>
        </span>
      </div>
      <div class="col-auto ml-0 pl-0 my-auto">
        <span role="button" {{on "click" this.collapse}}>
          {{#if this.collapsed}}
            <img class="icon-big-button float-right" src="/ember/assets/images/angle-left.svg" alt="<">
          {{else}}
            <img class="icon-big-button float-right" src="/ember/assets/images/angle-down.svg" alt="v">
          {{/if}}
        </span>
      </div>
      <hr>
    </div>

    <BsCollapse class="row border border-top-0 rounded-bottom" @collapsed={{this.collapsed}}>
      <div class="col">
        <div class="row py-2">
          <div class="col">
            <p class="text-muted">{{@team.description}}</p>
          </div>
        </div>
        <div class="p-2">
          {{#if @team.folders}}
            {{#each @team.folders as |folder|}}
              <div class="row border py-2">
                <div class="col">
                  <FolderShow @folder={{folder}}/>
                </div>
              </div>
            {{/each}}
          {{else}}
            <em>{{t "teams.no_folders"}}</em>
          {{/if}}
        </div>
      </div>
    </BsCollapse>
  </div>
</div>
