{{#if this.isTeamEditing}}
  <TeamForm @team={{@team}} @onAbort={{this.toggleTeamEdit}} @title={{t "teams.edit.title"}}/>
{{/if}}
{{#if this.isTeamConfiguring}}
  <TeamMemberConfigure @teamId={{@team.id}} @onAbort={{this.toggleTeamConfigure}}/>
{{/if}}
<div class="container ml-2 mt-2 p-2 border">
  <div class="row mb-10 d-flex">
    <div class="col" role="button" {{on "click" this.collapse}}>
      <h1 class="d-inline">{{@team.name}}</h1>
    </div>
    <div class="col-auto d-inline">
      <span>
        <a href="#" role="button" {{on "click" this.toggleTeamEdit}}>
          <img class="icon-big-button" src="/ember/assets/images/edit.svg" alt="edit">
        </a>
        <a id="config_team_button" href="#" role="button" {{on "click" this.toggleTeamConfigure}}>
          <img class="icon-big-button" src="/ember/assets/images/team_config.svg" alt="configure">
        </a>
        <a role="button" {{on "click" this.toggleFavourised}}>
          <img class="icon-big-button" src="/ember/assets/images/star{{if @team.favourised "-filled"}}.svg" alt="star">
        </a>
      </span>
      <span role="button" {{on "click" this.collapse}}>
        {{#if this.collapsed}}
          <img class="icon-big-button float-right" src="/ember/assets/images/angle-left.svg" alt="<">
        {{else}}
          <img class="icon-big-button float-right" src="/ember/assets/images/angle-down.svg" alt="v">
        {{/if}}
      </span>
    </div>
    <hr>
  </div>
  <BsCollapse @collapsed={{this.collapsed}}>
    <div>
      <div>
        <p>{{@team.description}}</p>
      </div>
      {{#each @team.folders as |folder|}}
        <FolderShow @folder={{folder}}/>
      {{/each}}
    </div>
  </BsCollapse>
</div>
