{{#if this.isTeamEditing}}
  <TeamForm @team={{@team}} @onAbort={{this.toggleTeamEdit}} @title={{t "teams.edit.title"}}/>
{{/if}}
{{#if this.isTeamConfiguring}}
  <TeamMemberConfigure @teamId={{@team.id}} @onAbort={{this.toggleTeamConfigure}}/>
{{/if}}
<div class="mt-4 mb-4">
  <div>
    <div class="row py-2 d-flex bg-white border border-darker {{if this.collapsed "rounded" "rounded-top"}}">
      <div class="col-auto my-auto" role="button" {{on "click" this.collapse}}>
        {{#if this.args.team.private}}
          <img class="icon icon-big-button py-auto" src="/ember/assets/images/encrypted_small.svg" alt="">

        {{else}}
          <img class="icon icon-big-button py-auto" src="/ember/assets/images/members.svg" alt="">
        {{/if}}
      </div>
      <div class="col my-auto pl-0" role="button" {{on "click" this.collapse}}>
        <h2 class="d-inline">{{@team.name}}</h2>
      </div>
      <div class="col-auto my-auto">
        <span>
          <span class="mx-1" role="button" {{on "click" this.toggleTeamEdit}}>
            <img class="icon-big-button" src="/ember/assets/images/edit.svg" alt="edit">
          </span>
          <span class="mx-1" id="config_team_button" role="button" {{on "click" this.toggleTeamConfigure}}>
            <img class="icon-big-button" src="/ember/assets/images/members.svg" alt="configure">
          </span>
          <span class="mx-1" role="button" {{on "click" this.toggleFavourised}}>
            <img class="icon-big-button" src="/ember/assets/images/star{{if @team.favourised "-filled"}}.svg" alt="star">
          </span>
        </span>
      </div>
      <div class="col-auto ml-0 pl-0 my-auto">
        <span role="button" {{on "click" this.collapse}}>
          {{#if this.collapsed}}
            <img class="icon-big-button float-right" src="/ember/assets/images/angle-left.svg" alt="<">
          {{else}}
            <img class="icon-big-button float-right" src="/ember/assets/images/angle-down.svg" alt="v">
          {{/if}}
        </span>
      </div>
    </div>

    <BsCollapse class="row bg-grey-1 border border-darker border-top-0 rounded-bottom" @collapsed={{this.collapsed}}>
      <div class="col">

        {{#if @folder.description}}
        <div class="row py-3">
          <div class="col">
            <p class="text-muted description mb-0">{{@team.description}}</p>
          </div>
        </div>
        {{/if}}

        <div class="p-3">
          {{#if @team.folders}}
            {{#each @team.folders as |folder|}}
              <div class="row bg-white border py-2">
                <div class="col">
                  <FolderShow @folder={{folder}}/>
                </div>
              </div>
            {{/each}}
          {{else}}
            <em>{{t "teams.no_folders"}}</em>
          {{/if}}
        </div>
      </div>
    </BsCollapse>
  </div>
</div>
