{{#if this.isTeamEditing}}
  <TeamForm @team={{@team}} @onAbort={{this.toggleTeamEdit}}/>
{{/if}}
{{#if this.isTeamConfiguring}}
  <TeamMemberConfigure @teamId={{@team.id}} @onAbort={{this.toggleTeamConfigure}}/>
{{/if}}
<div class="container mt-1">
  <div class="row mb-10">
    <div role="button" {{on "click" this.collapse}}>
      <h1 class="d-inline">{{@team.name}}</h1>
      <span class="ml-5">
        <a role="button" {{on "click" this.toggleTeamEdit}}>
          <img class="icon-button" src="/ember/assets/images/edit.svg" alt="edit">
        </a>
        <a role="button" {{on "click" this.toggleTeamConfigure}}>
          <img class="icon-button" src="/ember/assets/images/team_config.svg" alt="configure">
        </a>
      </span>
    </div>
    <hr>
  </div>
  <BsCollapse @collapsed={{this.collapsed}}>
    <div>
      <div>
        <p>{{@team.description}}</p>
      </div>
      {{#each @team.folders as |folder|}}
        <FolderShow @folder={{folder}}/>
      {{/each}}
    </div>
  </BsCollapse>
</div>

