<% 
# $Id$

# Copyright (c) 2007 Puzzle ITC GmbH. All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation; either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
-%>

<h1>Add new attachment to account <br>"<%= @account.accountname %>"</h1>

<%= form_for [@team, @group, @account, @item], :html => { :multipart => true } do |f| %>
	
  <%= f.file_field :file %>
  <%= f.label 'File to upload' %><br />

  <%= f.text_area :description, options = {:cols => 37} %>
  <%= f.label :description %><br />

  <%= f.submit "Upload file" %>

<% end %>
