<h1><%=t '.title' %> ( <%= @account.accountname %> )</h1>

<%= form_for [@team, @group, @account, @item], :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>

	<div class="form-group">
	  <%= f.label t('.upload') %>
	  <%= f.file_field :file %>
	</div>

	<div class="form-group">
		<%= f.label :description %><br />
		<%= f.text_area :description, class: 'form-control'%>
	</div>

  <%= f.submit t('.upload_file'), class: 'btn btn-primary'%>

<% end %>
