-#  Copyright (c) 2008-2017, Puzzle ITC GmbH. This file is part of
-#  Cryptopus and licensed under the Affero General Public License version 3 or later.
-#  See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/cryptopus.

%h1
  = t '.title'
  ( #{@account.accountname} )
= form_for [team, @group, @account, @item], html: { multipart: true } do |f|
  = f.error_messages
  .form-group
    = f.label t('.upload')
    = f.file_field :file
  .form-group
    = f.label :description
    %br/
    = f.text_area :description, class: 'form-control'
  = f.submit t('.upload_file'), class: 'btn btn-primary'
  =link_to "Cancel", team_group_account_path(team_id: params[:team_id], group_id: params[:group_id], id: params[:account_id] ), {:class=>"btn btn-primary"}
