-#  Copyright (c) 2008-2016, Puzzle ITC GmbH. This file is part of
-#  Cryptopus and licensed under the Affero General Public License version 3 or later.
-#  See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/cryptopus.

%h1= t '.title'
%table.table.table-striped
  %tr
    %th= t '.user'
    %th= t '.admin_required'
    %th= t :actions
  - for recryptrequest in @recryptrequests
    %tr
      %td= recryptrequest.user.label
      - if recryptrequest.adminrequired
        %td= t :yes
      - else
        %td= t :no
      %td= link_to "recrypt", [:admin, recryptrequest], method: :delete
