<h1><%=t '.title' %></h1>
<table class='table table-striped'>
  <tr>
    <th><%=t '.user' %></th>
    <th><%=t '.admin_required' %></th>
    <th><%=t '.root_required' %></th>
    <th><%=t :actions %></th>
  </tr>

  <% for recryptrequest in @recryptrequests %>
    <tr>
      <td><%= recryptrequest.user.label %></td>
      <% if recryptrequest.adminrequired %>
        <td><%=t :yes %></td>
      <% else %>
        <td><%=t :no %></td>
      <% end %>
      <% if recryptrequest.rootrequired %>
        <td><%=t :yes %></td>
      <% else %>
        <td><%=t :no %></td>
      <% end %>
      <td><%= link_to "recrypt", [:admin, recryptrequest], :method => :delete %></td>
    </tr>
  <% end %>

</table>

