<%= form_tag :action => 'selfrecrypt' do %>
	<fieldset>
	<legend><%=t '.new_password' %></legend>
		<p><%=t '.ldap_password_changed' %><br/>
		<%=t '.ldap_enter_old_password' %></p>
    	<label for="uncrypterror_oldpassword"><%= password_field_tag :oldpassword, params[:oldpassword], :autofocus => true %><%=t '.ldap_old_password' %></label><br/>
    	<label for="uncrypterror_newpassword"><%= password_field_tag :newpassword, params[:newpassword] %><%=t '.ldap_password' %></label>
		<label for="submit"><%= submit_tag t('.recrypt') %></label>
	</fieldset>
<% end %>
<%= form_tag :action => 'registerrequest' do %>
	<fieldset>
	<legend><%=t :forgot_password %></legend>
		<p><%=t '.forgot_password_recrypt' %></p>
    	<label for="uncrypterror_newpassword"><%= password_field_tag :newpassword, params[:newpassword] %><%=t '.ldap_password' %></label>
    	<label for="submit"></label><%= submit_tag t('.send') %></label>
	</fieldset>
<%end%>
<br>
