<%
# $Id$

# Copyright (c) 2007 Puzzle ITC GmbH. All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation; either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
-%>

<%= form_tag :action => 'selfrecrypt' do %>
	<fieldset>
	<legend><%=t '.new_password' %></legend>
		<p><%=t '.ldap_password_changed' %><br/>
		<%=t '.ldap_enter_old_password' %></p>
    	<label for="uncrypterror_oldpassword"><%= password_field_tag :oldpassword, params[:oldpassword], :autofocus => true %><%=t '.ldap_old_password' %></label><br/>
    	<label for="uncrypterror_newpassword"><%= password_field_tag :newpassword, params[:newpassword] %><%=t '.ldap_password' %></label>
		<label for="submit"><%= submit_tag t('.recrypt') %></label>
	</fieldset>
<% end %>
<%= form_tag :action => 'registerrequest' do %>
	<fieldset>
	<legend><%=t :forgot_password %></legend>
		<p><%=t '.forgot_password_recrypt' %></p>
    	<label for="uncrypterror_newpassword"><%= password_field_tag :newpassword, params[:newpassword] %><%=t '.ldap_password' %></label>
    	<label for="submit"></label><%= submit_tag t('.send') %></label>
	</fieldset>
<%end%>
<br>
