<tr>
  <td>{{t (concat "encryptables.log." @paperTrailVersion.event)}}</td>
  <td>{{moment-format @paperTrailVersion.createdAt "DD.MM.YYYY hh:mm"}}</td>
  <td>
    {{@paperTrailVersion.encryptable.folder.team.name}}
    /{{@paperTrailVersion.encryptable.folder.name}}
    /{{@paperTrailVersion.encryptable.name}} 
  </td>
</tr>
