<tr>
  <td>{{t (concat "encryptables.log." @paperTrailVersion.event)}}</td>
  <td>{{moment-format @paperTrailVersion.createdAt "DD.MM.YYYY hh:mm"}}</td>
  <LinkTo @route="encryptables.show" @model={{@paperTrailVersion.encryptable.id}}>
    <td>
      {{@paperTrailVersion.teamName}}
      / {{@paperTrailVersion.folderName}}
      / {{@paperTrailVersion.encryptable.name}}
    </td>
  </LinkTo>
</tr>
