{{#if this.isUserAllowedToChangePassword}}
  <button class="btn btn-primary" type="button" {{on "click" this.toggleEditing}}>{{t "helpers.label.user.managePassword"}}</button>
{{/if}}

{{#if this.isEditing}}
  <BsModal class="modal_account ignore-footer-smartphone" @onHide={{action this.toggleEditing}} @renderInPlace="true" @size="lg" as |Modal|>
    <Modal.header>
      <h3 class="modal-title">{{t "helpers.label.user.updatePassword"}}</h3>
    </Modal.header>
    <Modal.body>
      <div class="container-fluid">
        <BsForm @model={{this.changeset}} as |form|>
          <div class="row">
            <div class="col-md-6 order-2">
              <form.group class="col-md-12 secret">
                <form.element @property="oldPassword" @label={{t "helpers.label.user.oldPassword"}}
                              class={{if (or this.oldPasswordIncorrectError this.changeset.error.oldPassword.validation)
                                                            "invalid-input-name"}}
                              id="oldPassword" @keyUp={{this.resetOldPasswordError}}
                              @customError={{t (if this.oldPasswordIncorrectError this.oldPasswordIncorrectError (validation-error-key this.changeset.error.oldPassword.validation))}} as |el|>
                  <el.control autocomplete="off" @name="oldPassword" tabindex="1"></el.control>
                </form.element>
              </form.group>
              <form.group class="col-md-12 secret">
                <form.element @property="newPassword1" @label={{t "helpers.label.user.newPassword1"}}
                              class={{if this.changeset.error.newPassword1.validation
                                                            "invalid-input-name"}}
                              id="oldPassword"
                              @customError={{t (validation-error-key this.changeset.error.newPassword1.validation)}} as |el|>
                  <el.control autocomplete="off" @name="newPassword1" tabindex="1"></el.control>
                </form.element>
              </form.group>
              <form.group class="col-md-12 secret">
                <form.element @property="newPassword2" @label={{t "helpers.label.user.newPassword2"}}
                              class={{if this.changeset.error.newPassword2.validation
                                                           "invalid-input-name"}}
                              id="oldPassword"
                              @customError={{t (validation-error-key this.changeset.error.newPassword2.validation)}} as |el|>
                  <el.control autocomplete="off" @name="newPassword1" tabindex="1"></el.control>
                </form.element>
              </form.group>
            </div>
          </div>
        </BsForm>
      </div>
    </Modal.body>
    <Modal.footer>
      <BsButton @onClick={{action this.submit this.passwordChangeset}} @type="primary">{{t "save"}}</BsButton>
      <BsButton @onClick={{action this.toggleEditing}} @type="secondary">{{t "close"}}</BsButton>
    </Modal.footer>
  </BsModal>
{{/if}}
