{{#each .}}
  <li>
    <div class="result-description">
      <h1 class="result-title">
        <a href="/teams/{{team_id}}/groups/{{group_id}}/accounts/{{id}}">{{accountname}}</a>
      </h1>
      <p>
        Group: <a href="/teams/{{team_id}}/groups/{{group_id}}/accounts">{{group}}</a><br>
        Team: <a href="/teams/{{team_id}}/groups">{{team}}</a>
      </p>
    </div>
    <div class="result-action">
      <div class="result-username select-click">
        <svg class="icon-person sm"><use xlink:href="#icon-person"></use></svg>
        <input id="username_{{id}}" type="text" readonly="readonly" value="{{username}}" class="input-full">
        <button class="clip_button" data-clipboard-target="username_{{id}}" title="Click to copy">
          <svg class="icon-clippy">
            <use xlink:href="#icon-clippy"></use>
          </svg>
        </button>
      </div>

      <div class="result-password select-click">
        <svg class="icon-key sm" alt="Password"><use xlink:href="#icon-key"></use></svg>
        <a href="#" class="password-link">Show password</a>
        <input id="password_{{id}}"type="text" readonly="readonly" class="password-hidden hide input-full" value="{{password}}">
        <button class="clip_button" data-clipboard-target="password_{{id}}" title="Click to copy">
          <svg class="icon-clippy">
            <use xlink:href="#icon-clippy"></use>
          </svg>
        </button>
      </div>
    </div>
  </li>
{{/each}}
