-#  Copyright (c) 2008-2017, Puzzle ITC GmbH. This file is part of
-#  Cryptopus and licensed under the Affero General Public License version 3 or later.
-#  See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/cryptopus.

= form_for([:admin, @user], html:{ role: 'form'}, url: admin_users_path) do |f|
  = f.error_messages
  .form-group
    = f.label :username
    = f.text_field :username, autofocus: true, class: 'form-control'
  - if @user.new_record?
    .form-group
      = f.label :password
      = f.password_field :password, class: 'form-control generatable_password'
  .form-group
    = f.label :givenname
    = f.text_field :givenname, class: 'form-control'
  .form-group
    = f.label :surname
    = f.text_field :surname, class: 'form-control'
  = f.submit @submit_button_text, class: 'btn btn-primary'
