-#  Copyright (c) 2008-2017, Puzzle ITC GmbH. This file is part of
-#  Cryptopus and licensed under the Affero General Public License version 3 or later.
-#  See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/cryptopus.

%h1= t '.title'

- unless @user.root?
  - @submit_button_text = t(:update)
  = render 'form'
- if !@user.new_record? && policy(@user).resetpassword?
  %br/
  = form_tag(resetpassword_admin_recryptrequests_path(user_id: @user.id), {id: 'reset_password_form'}) do
    %br/
    .form-group
      = label_tag t('.reset_password')
      = password_field_tag :new_password, nil, class: 'form-control'
    = submit_tag t('.reset_password'), class: 'btn btn-primary reset_password_button'

#reset_password_popup
  = render 'admin/users/reset_password'
