<%
# $Id$
# Copyright (c) 2007 Puzzle ITC GmbH. All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation; either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
-%>

<h1><%=t '.title' %></h1>

<table>
  <tr>
    <th><%=t '.username' %></th>
    <th><%=t '.name' %></th>
    <th><%=t '.ldap_uid' %></th>
    <th><%=t '.admin' %></th>
    <th><%=t '.action' %></th>
  </tr>

  <% for user in @users.unlocked  %>
      <tr class="<%= cycle( 'odd', 'even' ) %>">
        <td><%= link_to user.username, edit_admin_user_path(user) %></td>
        <td><%= user.full_name %></td>
        <td><%= user.uid.to_s %></td>
        <% if user.admin == true %>
          <td><%= image_tag("flag.png") %></td>
        <% else %>
          <td></td>
        <% end %>
        <td><%= link_to image_tag( "remove.png" ), [:admin, user], confirm: t(:confirmation), method: :delete %></td>
      </tr>
  <% end %>
</table>

<h2><%=t '.locked' %></h2>

<table>
  <tr>
      <th><%=t '.username' %></th>
      <th><%=t '.name' %></th>
      <th><%=t '.action' %></th>
  </tr>
  <% for user in @users.locked  %>
      <tr class="<%= cycle( 'odd', 'even' ) %>">
        <td><%= link_to user.username, edit_admin_user_path(user) %></td>
        <td><%= user.full_name %></td>
        <td><%= link_to image_tag("unlock.png"),  unlock_admin_user_path(user.id), title: t('.unlock')%></td>
      </tr>
  <% end %>
</table>