-#  Copyright (c) 2008-2017, Puzzle ITC GmbH. This file is part of
-#  Cryptopus and licensed under the Affero General Public License version 3 or later.
-#  See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/cryptopus.

%h1= t '.title'
= link_to t('admin.users.new.title'), new_admin_user_path, class: 'btn btn-primary pull-right'
%table.table.table-striped#team_table
  %tr
    %th= t '.username'
    %th= t '.name'
    %th= t '.last_login_at'
    %th= t '.last_login_from'
    %th= t '.ldap_uid'
    %th= t '.admin'
    %th{colspan: "3"}= t :actions
  - @users.unlocked.each do |user|
    %tr{class: "#{cycle( 'odd', 'even' )}"}
      %td= user.username
      %td= user.label
      %td
        - if user.last_login_at
          = user.last_login_at.strftime('%d.%m.%Y, %H:%M')
      %td= user.last_login_from
      %td= user.ldap_uid.to_s

      %td
        - if user != current_user
          .btn-group{id: user.id } 
            %button.btn.btn-default.dropdown-toggle{id: 'role-dropdown','data-toggle':'dropdown'}
              = role(user.role)
              %b.caret
            %ul.dropdown-menu{'aria-labelledby':'dropdownMenuButton'}
              %li.dropdown-item{val: 'user'}= role(:user)
              %li.dropdown-item{val: 'conf_admin'}= role(:conf_admin)
              - if current_user.admin?
                %li.dropdown-item{val: 'admin'}= role(:admin)

      %td.action_icon
        - if user.auth != 'ldap'
          = link_to image_tag("edit.svg"), edit_admin_user_path(user)
      %td.action_icon
        - if user != current_user
          = link_to image_tag("remove.svg"), '#',
            data: { last_teammember_teams_link: last_teammember_teams_teams_path(user_id: user.id),
              user_id: user.id},
            class: 'delete_user_link'
- if User.locked.count != 0
  %h1= t '.locked'
  %table.table.table-striped
    %tr
      %th{style: "width: 150px;"}= t '.username'
      %th= t '.name'
      %th= t '.action'
    - User.locked.each do |user|
      %tr{class: "#{cycle( 'odd', 'even' )}"}
        %td= link_to user.username, edit_admin_user_path(user)
        %td= user.label
        %td.action_icon
          = link_to image_tag("unlock.svg"),  unlock_admin_user_path(user.id), title: t('.unlock')

#last_teammember_teams
  = render 'last_teammember_teams'


:javascript
  window.I18n = #{current_translations.to_json.html_safe}
