<%= form_tag({action: 'apply'}, id: 'wizardform') do %>
    <div class="form-group">
      <%= label_tag :username, t(:username) %>
      <%= text_field_tag :username, params[:username], id: 'username', autocomplete: :off, disabled: true, value: "root", class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= label_tag :password, t(:password) %>
      <%= password_field_tag :password, params[:password], autocomplete: :off, id: 'password', autofocus: true, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= label_tag :password, t(:password_repeat) %>
      <%= password_field_tag :password_repeat, params[:password_repeat], id: 'password_repeat', class: 'form-control' %>
    </div>

    <%= submit_tag "submit", class: 'btn btn-primary'%>
<% end %>