<% if current_user %>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <%= link_to('Cryptopus', search_path, class: 'navbar-brand') %>
      </div>

      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <%= nav_link t('teams.title'), teams_path %>
            <% if current_user.admin? || current_user.root? %>
            <li class="dropdown">
              <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown", role="button">
               Admin
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= nav_link t(:ldap_settings), admin_settings_path %></li>
                <li><%= nav_link t(:recrypt_requests), admin_recryptrequests_path %></li>
                <li><%= nav_link t(:users), admin_users_path %></li>
              </ul>
            </li>
            <% end %>
            <% if current_user.auth_db? %>
              <%= nav_link t(:change_password), show_update_password_login_path %>
            <% end %>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <%= nav_link('Logout', logout_login_path) %>
      </div>
    </div>
  </nav>
<% end %>
