-#  Copyright (c) 2008-2017, Puzzle ITC GmbH. This file is part of
-#  Cryptopus and licensed under the Affero General Public License version 3 or later.
-#  See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/cryptopus.

- if current_user
  %nav.navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        = link_to('Cryptopus', search_path, class: 'navbar-brand')
      .navbar-collapse.collapse
        %ul.nav.navbar-nav
          = nav_link t('teams.title'), teams_path
          - if current_user.admin? || current_user.conf_admin?
            %li.dropdown
              <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown", role="button">
              %span=t('admin.title')
              %b.caret
              </a>
              %ul.dropdown-menu
                %li= nav_link t(:settings), admin_settings_path
                - if current_user.admin?
                  %li= nav_link t(:recrypt_requests), admin_recryptrequests_path
                %li= nav_link t(:users), admin_users_path
                %li= nav_link t(:maintenance_tasks), admin_maintenance_tasks_path
          - if current_user.auth_db?
            = nav_link t(:change_password), show_update_password_login_path
          = nav_link image_tag("magnifying-glass.svg", class: "search-icon", title: "search (ctrl + f)") + t('search.title'), search_path
        %ul.nav.navbar-nav.navbar-right.logout
          = nav_link t(:logout), logout_login_path
  - unless @breadcrumbs.nil?
    .bread-container
      .breadcrumb
        = render_breadcrumbs separator: '', tag: :li
