<%
# $Id$

# Copyright (c) 2007 Puzzle ITC GmbH. All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation; either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
-%>

<div id="navcontainer">
<% if session[:user_id] %>
	  <ul class="nav nav-pills">
	    <%= nav_link "folder_home.png", t('teams.title'), teams_path %>
        <% if User.find( session[:user_id] ).admin? or User.find( session[:user_id] ).root? %>
	        <%= nav_link "configure.png", t(:ldap_settings), admin_ldapsettings_path %>
	        <%= nav_link "flag.png", t(:recrypt_requests), admin_recryptrequests_path %>
	        <%= nav_link "kontact_contacts.png", t(:users), admin_users_path %>
        <% end %>
        <% if User.find( session[:user_id] ).auth_db? %>
	        <%= nav_link "edit_user.png", t(:change_password), pwdchange_login_path %>
        <% end %>
      <%= render_menu %>
      <li><%= render :partial => 'layouts/option' %></li>
    </ul>
<% end %>
  </ul>
</div>