<%
# $Id$

# Copyright (c) 2007 Puzzle ITC GmbH. All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation; either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
-%>

<div id="navcontainer">
<% if session[:user_id] %>
    <% if User.find( session[:user_id] ).admin? or User.find( session[:user_id] ).root? %>
	  <ul class="nav nav-pills">
	  <li>
        <%= link_to image_tag("folder_home.png") + " Teams", teams_path %>
      </li>
      <li id="active">
        <%= link_to image_tag("configure.png") + " LDAP settings", admin_ldapsettings_path %>
      </li>
      <li>
        <%= link_to image_tag("flag.png") + " Recrypt requests", admin_recryptrequests_path %>
      </li>
      <li>
        <%= link_to image_tag("kontact_contacts.png") + " Users", admin_users_path %>
      </li>
      <% if User.find( session[:user_id] ).root? %>
        <li>
          <%= link_to image_tag("edit_user.png") + " Change password", pwdchange_login_path %>
        </li>
      <% end %>
      </ul>
    <% end %>
    <%= render_menu %>
<% end %>
  </ul>
</div>