<%
# $Id$

# Copyright (c) 2007 Puzzle ITC GmbH. All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation; either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
-%>

<div id="navcontainer">
<ul>
<% if session[:uid] %>
	<li>
      <%= link_to image_tag("exit.png") + " Logout", logout_login_path %>
      <%= link_to image_tag("viewmag.png") + " Search", searches_path %>
    </li>
	<%= render_menu %>
    <% if User.find_by_uid( session[:uid] ).admin == true %>
	  </ul>
	  <h2>Admin Menu:</h2>
	  <ul>
      <li id="active">
        <%= link_to image_tag("configure.png") + " LDAP settings", admin_ldapsettings_path %>
      </li>
      <li>
        <%= link_to image_tag("flag.png") + " Recrypt requests", admin_recryptrequests_path %>
      </li>
      <li>
        <%= link_to image_tag("kontact_contacts.png") + " Users", admin_users_path %>
      </li>
      <% if session[:uid] == '0' %>
        <li>
          <%= link_to image_tag("edit_user.png") + " Change password", pwdchange_login_path %>
        </li>
      <% end %>
    <% end %>
 <% else %>
 	<li>
 		<%= link_to image_tag("previous.png") + ' Login', login_login_path %>
	</li>
<% end %>
  </ul>
</div>
