<%
# $Id$

# Copyright (c) 2007 Puzzle ITC GmbH. All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation; either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
-%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <link rel="shortcut icon" href="/favicon.png" type="image/png" />
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Cryptopus</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <% if session[:user_id] %>
    <%= javascript_include_tag :application %>
  <% end %>
</head>
    
<body>
  <div id="page" class="hfeed container">

    <header id="masthead" class="site-header" role="banner">
      <%= link_to image_tag("cryptopus_top.png"), teams_path %>
      <%= render :partial => 'layouts/option' %>
    </header><!-- end #masthead .site-header -->

    <nav id="site-navigation" class="main-navigation" role="navigation">
      <%= render :partial => 'layouts/navigation' %>
    </nav><!-- end #site-navigation .main-navigation -->
    
    <div id="main">

      <div id="content" class="site-content" role="main">
        <%= yield  %>
      </div><!-- end #content .site-content -->

      <aside id="sidebar" class="widget-area" role="complementary">
        <% unless flash[:notice].blank? %>
          <div id="notification"><%= flash[:notice] %></div>
        <% end %>
      <% unless flash[:error].blank? %>
          <div id="error"><%=image_tag("status_unknown.png") + " " +  flash[:error] %></div>
      <% end %>
      </aside><!-- end #sidebar .widget-area -->

    </div><!-- end #main -->

    <footer id="colophon" class="site-footer" role="contentinfo">
      <%= link_to 'Cryptopus 2012', 'https://github.com/puzzle/cryptopus' %>
    </footer><!-- end #colophon .site-footer -->


  </div>
  <%= javascript_include_tag "jquery" %> 
  <%= javascript_include_tag "bootstrap_tabs.min" %>

</body>

</html>
