<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.png" type="image/png" />

    <title>Cryptopus</title>

    <%= stylesheet_link_tag :application, media: "all" %>

    <%= javascript_include_tag :application %>
  </head>

  <body>
    <%= render partial: 'layouts/icons' %>

    <div class="container main" role="main">
      <%= render partial: 'layouts/navigation' %>
      <%= render partial: 'layouts/flashes' %>
      <%= yield  %>
    </div>

    <% if current_user %>
      <%= render partial: 'layouts/footer' %>
      <%= javascript_include_tag :auto_logoff %>
    <% end %>

  </body>
</html>
