-#  Copyright (c) 2008-2017, Puzzle ITC GmbH. This file is part of
-#  Cryptopus and licensed under the Affero General Public License version 3 or later.
-#  See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/cryptopus.

!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=US-ASCII", "http-equiv" => "Content-Type"}/
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %link{href: "/favicon.png", rel: "shortcut icon", type: "image/png"}/
    %link{href: "http://localhost:4200/app/assets/vendor.css", media: "all", rel: "stylesheet"}
    %link{href: "http://localhost:4200/app/assets/frontend.css", media: "all", rel: "stylesheet"}
    %script{src: "http://localhost:4200/app/assets/vendor.js", defer: "true"}
    %script{src: "http://localhost:4200/app/assets/frontend.js", defer: "true"}
    = csrf_meta_tags
    %title Cryptopus
    = stylesheet_link_tag :application, media: "all", nonce: true
    = javascript_include_tag :application, nonce: true
    = javascript_pack_tag 'stylesheets', nonce: true
    = javascript_pack_tag 'application', 'data-turbolinks-track': :reload, nonce: true
  %body{"data-locale" => I18n.locale}
    #ember{style: "margin-top:75px;"}
    = render 'layouts/icons'
    .container.main{role: "main"}
      = render 'layouts/navigation'
      = render 'layouts/flashes'
      = yield
    = render 'layouts/footer' if current_user
