-#  Copyright (c) 2008-2017, Puzzle ITC GmbH. This file is part of
-#  Cryptopus and licensed under the Affero General Public License version 3 or later.
-#  See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/cryptopus.

= form_for([team, @group, @account], role: 'form') do |f|
  = f.error_messages
  .form-group
    = f.label :account
    = f.text_field :accountname, autocomplete: :off, autofocus: true, class: 'form-control'
  .form-group
    = f.label :username
    = f.text_field :cleartext_username, autocomplete: :off, class: 'form-control'
  .form-group
    = f.label :password
    .form-inline
      = f.password_field :cleartext_password, autocomplete: :off, id: 'account_password', class: 'form-control generatable_password'
      = button_tag t('accounts.edit.random_password'), type: 'button', id: 'generate_button', class: 'btn btn-primary btn-sm'
      %div#strength
  .form-group
    = f.label :tag
    = f.text_field :tag, autocomplete: :off, class: 'form-control'
  .form-group
    = f.label :description
    %span#unencrypted
    (#{I18n.t('unencrypted_field_caption')})
    = f.text_area :description, class: 'form-control'
    = f.submit @submit_button_text, class: 'btn btn-primary'
    =link_to "Cancel", team_group_accounts_path(team_id: params[:team_id], id: params[:group_id] ), {:class=>"btn btn-primary"}
