-#  Copyright (c) 2008-2016, Puzzle ITC GmbH. This file is part of
-#  Cryptopus and licensed under the Affero General Public License version 3 or later.
-#  See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/cryptopus.

= form_for([team, @group, @account], role: 'form') do |f|
  = f.error_messages
  .form-group
    = f.label :account
    = f.text_field :accountname, autocomplete: :off, autofocus: true, class: 'form-control'
  .form-group
    = f.label :username
    = f.text_field :cleartext_username, autocomplete: :off, class: 'form-control'
  .form-group
    = f.label :password
    = f.password_field :cleartext_password, autocomplete: :off, class: 'form-control'
  .form-group
    = f.label :description
    %span#unencrypted
      (#{I18n.t('unencrypted_field_caption')})
    = f.text_area :description, class: 'form-control'
  .form-group
    %h1= 'Move Account'
    %br/
    = f.label :team
    .move_team
    = f.label :group_id
    .move_group
  = f.submit @submit_button_text, class: 'btn btn-primary'
