%div{id: "movescreen"}
  %div{id: 'account_move_form'}
    = form_for [team, @group, @account], url: team_group_path(team, @group, @account), html: {method: :put} do |f|
      .form-group
      %h1= 'Move Account'
      %br/
      = f.label :team
      .move_team
        <input type="hidden" class="team_value" name="team_value" value="#{team.id}"/>
        <select class="move_list_team form-control" name="account[group_id]">
        </select>
      = f.label :group_id
      .move_group
        <input type="hidden" class="group_value" name="group_value" value="#{team.id}"/>
        <select class="move_list_group form-control" name="account[group_id]">
        </select>
      %div{id: 'movescreen_buttons'}
        = f.submit 'Move Account', class: 'btn btn-primary'
        =link_to "Cancel", team_group_path(team, @group, @account), {:class=>"btn btn-primary"}
