-#  Copyright (c) 2008-2017, Puzzle ITC GmbH. This file is part of
-#  Cryptopus and licensed under the Affero General Public License version 3 or later.
-#  See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/cryptopus.

%h1= t '.title', group_name: @group.name, team_name: team.name
= link_to t('accounts.new.title'), new_team_group_account_path, class: 'btn btn-primary pull-right'
%table.table.table-striped
  %tr
    %th{style: "width: 150px;"}= t '.account'
    %th= t :description
    %th{colspan: "3"}= t :actions
  - @accounts.each do |account|
    %tr{class: "#{cycle('odd', 'even')}"}
      %td= link_to image_tag( "key.svg" ) + " " + account.accountname, [team, @group, account]
      %td= simple_format account.description
      %td.action_icon= link_to image_tag("edit.svg"), [:edit, team, @group, account]
      %td.action_icon= link_to_destroy [team, @group, account], account
