<%
# $Id$

# Copyright (c) 2007 Puzzle ITC GmbH. All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation; either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
-%>
<h1><%=t '.title', account_name: @account.accountname %></h1>

<div>
  <p><strong><%=t :description %></strong> <%= @account.description %></p>
  <br/>

    <div class="result-username select-click">
      <input id="username" type="text" value="<%= @account.username %>" class="form-control" readonly>
      <button class="clip_button_account" data-clipboard-target="username" title="Click to copy">
        <svg class="icon-clippy">
          <use xlink:href="#icon-clippy"></use>
        </svg>
      </button>
    </div>

    <div class="result-password select-click">
      <a href="#" class="password-link">Show password</a>
      <input id="password" type="text" class="password-hidden hide form-control" value="<%= @account.password %>" readonly>
      <button class="clip_button_account" data-clipboard-target="password" title="Click to copy">
        <svg class="icon-clippy">
          <use xlink:href="#icon-clippy"></use>
        </svg>
      </button>
    </div>

  <div id="hidden_password" style="display:none">
    <%= @account.password %>
  </div>
  <br/>

  <p><strong><%=t '.last_change', time_ago: (time_ago_in_words @account.updated_at) %></strong></p>
  <br/><br/>

  <h1><%=t '.attachments' %></h1>

  <%= link_to 'New', new_team_group_account_item_path(@account.group.team.id, @account.group.id, @account.id), class: 'btn btn-primary pull-right' %>

  <table class='table table-striped'>
    <tr>
      <th style='width: 200px;'><%=t '.file' %></th>
      <th><%=t :description %></th>
      <th><%=t :actions %></th>
    </tr>

    <% for item in @items %>
      <tr class="<%= cycle( 'odd', 'even' ) %>">
        <td><b><%= item.filename %></b><br/>
          <%= link_to image_tag("encrypted.png"), [@team, @group, @account, item] %></td>
        <td valign="top"><%= item.description %></td>
        <td class='action_icon'><%= link_to_destroy [@team, @group, @account, item], item %></td>
      </tr>
    <% end %>
  </table>
</div>

<%= javascript_include_tag :account %>
