<% 
# $Id$

# Copyright (c) 2007 Puzzle ITC GmbH. All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation; either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
-%>

<h1><%=t '.title', :account_name => @account.accountname %></h1>

<div>
  <p><strong><%=t :description %></strong> <%= @account.description %></p>
  <br/>

  <p>
    <strong><a href="#" onclick="$('#hidden_username').toggle()" ><%=t :username %></a></strong> <%= clippy(CGI.escape(@account.username)).html_safe %>
  </p>
  <div id="hidden_username" style="display:none">
    <%= @account.username %>
  </div>
  <p>
    <strong><a href="#" onclick="$('#hidden_password').toggle()" ><%=t :password %></a></strong> <%= clippy(CGI.escape(@account.password)).html_safe %>
  </p>
  <div id="hidden_password" style="display:none">
    <%= @account.password %>
  </div>
  <br/>
  
  <p><strong><%=t '.last_change', :time_ago => (time_ago_in_words @account.updated_on) %></p>
  <br/>

  <strong><%=t '.attachments' %></strong>
  <table>
    <tr>
      <th><%=t '.file' %></th>
      <th><%=t :actions %></th>
      <th><%=t :description %></th>
    </tr>
    
    <% for item in @items %>
      <tr>
        <td><b><%= item.filename %></b><br/>
          <%= image_tag("encrypted.png") %></td>
        <td><%= link_to image_tag( "kget.png" ) + " " + t(:download), [@team, @group, @account, item] %><br />
            <%= link_to image_tag( "remove.png" ) + " " + t(:delete), [@team, @group, @account, item], :confirm => t(:confirmation), :method => :delete %></td>
        <td valign="top"><%= item.description %></td>
      </tr>
    <% end %>
  </table>
</div>
