-#  Copyright (c) 2008-2017, Puzzle ITC GmbH. This file is part of
-#  Cryptopus and licensed under the Affero General Public License version 3 or later.
-#  See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/cryptopus.

= link_to 'Edit', edit_team_group_account_path(@account.group.team.id, @account.group.id, @account.id), class: 'btn btn-primary pull-right'
= link_to 'Move', '#', class: 'btn btn-primary pull-right', id: 'move_account_button'
%h1= t '.title', account_name: @account.accountname
%div
  %p
    %strong= t :description
    = simple_format @account.description
  %p
    %strong= t :tag
    = simple_format @account.tag
  %br/
  .result-username.select-click
    %input#cleartext_username.form-control{readonly: "readonly", type: "text", value: "#{@account.cleartext_username}"}/
    %button.btn.clip_button{"data-clipboard-target" => "#cleartext_username", title: "copy username (ctrl + u)", id: "copy_username_button"}
      %svg.icon-clippy
        %use{"xlink:href" => "#icon-clippy"}
  %a.password-link{href: "#"}= t '.show_password'
  .result-password.select-click
    %input#cleartext_password.password-hidden.form-control{readonly: "readonly", type: "text", value: "#{@account.cleartext_password}"}/
    %br/
    - strength = PasswordStrength.test(@account.cleartext_username, @account.cleartext_password)
    - if strength.status == :weak || strength.status == :invalid
      =image_tag 'weak.png'
      %strong= t 'password_strength.weak'
    - elsif strength.status == :good
      =image_tag 'good.png'
      %strong= t 'password_strength.good'
    - elsif strength.status == :strong
      =image_tag 'strong.png'
      %strong= t 'password_strength.strong'
    %button.btn.clip_button{"data-clipboard-target" => "#cleartext_password", title: "copy password (ctrl + c)", id: "copy_password_button"}
      %svg.icon-clippy
        %use{"xlink:href" => "#icon-clippy"}
  #hidden_password{style: "display:none"}
    = @account.cleartext_password
  %br/
  %p
    %strong= t '.last_change', time_ago: (time_ago_in_words @account.updated_at)
  %br/
  %br/
  %h1= t '.attachments'
  = link_to 'New', new_team_group_account_item_path(@account.group.team.id, @account.group.id, @account.id), class: 'btn btn-primary pull-right'
  %table.table.table-striped
    %tr
      %th{style: "width: 200px;"}= t '.file'
      %th= t :description
      %th= t :actions
    - for item in @items
      %tr{class: "#{cycle( 'odd', 'even' )}"}
        %td
          = link_to image_tag("file.svg") + item.filename, [team, @group, @account, item]
        %td{valign: "top"}= simple_format item.description
        %td.action_icon= link_to_destroy [team, @group, @account, item], item

%div{id: "move_account_form"}
  = render 'move_account_form'
