-#  Copyright (c) 2008-2017, Puzzle ITC GmbH. This file is part of
-#  Cryptopus and licensed under the Affero General Public License version 3 or later.
-#  See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/cryptopus.

= link_to image_pack_tag("edit.svg"), "#/accounts/edit/#{@account.id}", id: 'edit_account_button', class: 'btn btn-secondary pull-right edit_button','data-turbolinks': 'false'
%h1= t '.title', account_name: @account.accountname
%div
  %p.description-text
    = t '.last_change', time_ago: (time_ago_in_words @account.updated_at)
  %p
    = h @account.description
  %br/
  .result-username.select-click
    %input#cleartext_username.form-control{readonly: "readonly", type: "text", value: "#{@account.cleartext_username}"}/
    %button.btn.clip_button{"data-clipboard-target" => "#cleartext_username", title: "copy username (ctrl + u)", id: "copy_username_button"}
      %svg.icon-clippy
        %use{"xlink:href" => "#icon-clippy"}
  %a.password-link{href: "#"}= t '.show_password'
  .result-password.select-click
    %input#cleartext_password.password-hidden.form-control{readonly: "readonly", type: "text", value: "#{@account.cleartext_password}"}/
    %button.btn.clip_button{"data-clipboard-target" => "#cleartext_password", title: "copy password (ctrl + c)", id: "copy_password_button"}
      %svg.icon-clippy
        %use{"xlink:href" => "#icon-clippy"}
  #hidden_password{style: "display:none"}
    = @account.cleartext_password
  %br/
  %br/
  %br/
  %h1= t '.attachments'
  = link_to (t '.add_attachment'), "#/accounts/#{@account.id}/file-entries/new", class: 'btn btn-primary pull-right', 'data-turbolinks': 'false'
  %table.table.table-striped
    %tr
      %th{style: "width: 200px;"}= t '.file'
      %th= t :description
      %th= t :actions
    - for file_entry in @file_entries
      %tr{class: "#{cycle( 'odd', 'even' )}"}
        %td
          = link_to image_pack_tag("file.svg") + file_entry.filename, account_file_entry_path(@account, file_entry), target: "_blank"
        %td{valign: "top"}= simple_format file_entry.description
        %td.action_icon= link_to_destroy account_file_entry_path(@account, file_entry), file_entry
